<section class="sect-stories-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="name-stories-list">Історії</p>
      </div>
    </div>
  </div>
  <div class="container cont2-sect-stories-list">
    <div class="row">

      <div class="col-md-9 col-sm-9">

        {{#common/common-filters
          filters=filters
          endpoint="stories.index"
          showDropdown=showDropdown
          currentFilter=f}}
          <li>{{#link-to 'page' 're-vision'}}Спецпроект РеВізія{{/link-to}}</li>
        {{/common/common-filters}}

        <div class="block1-stories-list"></div>

        {{post/post-list-vertical
          items=items
          endpoint="stories.item"}}

        {{#if canLoadMore}}
          <div class="text-center">
            <div {{action "loadMore"}}
              class="btn btn-more btn-stories">
              відкрити більше
            </div>
          </div>
        {{/if}}

      </div>

      <div class="col-md-3 col-sm-3">
        <div class="block-popular">
          <div>
            {{#link-to 'page' 're-vision'}}
              <img src="/images/revision.png"
                   class="img img-fluid mb-4"
                   style="margin-top: 40px !important;">
            {{/link-to}}
          </div>

          <div class="t-popular mt-0">популярне</div>

          <div class="box1-popular"></div>

          {{post/post-list-popular
            items=model.popular
            endpoint="stories.item"}}
        </div>
      </div>
    </div>
  </div>
</section>