<section class="sect-stories-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="name-stories-list">Історії</p>
      </div>
    </div>
  </div>
  <div class="container cont2-sect-stories-list">
    <div class="row">

      <div class="col-md-9 col-sm-9">
        <span class="t_cat">Перегляд за:</span>
        <span class="trigger {{if showDropdown 'activetrigger'}}" {{action 'toggleDropdown'}}>Темою</span>
        {{#if showDropdown}}
          <div class="dropcontainer">
            <ul class="dropdownvisible">
              <li><a href="#">Темою</a></li>
              <li><a href="#">Візії розвитку громадянського суспільства</a></li>
              <li><a href="#">Соціальне підприємництво</a></li>
              <li><a href="#">Соціальні послуги стратегії</a></li>
              <li><a href="#">Управління організаціями</a></li>
              <li><a href="#">Ефективні комунікації</a></li>
            </ul>
          </div>
        {{/if}}
        <div class="block-stories-list block1-stories-list">
          <img class="pull-left img_box_stories" src="/images/img_box_stories.jpg" alt="">
          <div class="media-body box-stories-list">
            <div class="title-box-stories-list"><a href="">Громадський Простір спільно з Проектом ЄС для розвитку
              громадянського суспільства перезапускають сайт EuProstir</a></div>
            <div class="about-box-stories-list">Українським громадським організаціям варто активніше використовувати вже
              здобутий позитивний імідж, бути
            </div>
          </div>
        </div>
        <div class="block-stories-list">
          <img class="pull-left img_box_stories" src="/images/img_box_stories.jpg" alt="">
          <div class="media-body box-stories-list">
            <div class="title-box-stories-list"><a href="">Громадський Простір спільно з Проектом ЄС для розвитку
              громадянського суспільства перезапускають сайт EuProstir</a></div>
            <div class="about-box-stories-list">Українським громадським організаціям варто активніше використовувати вже
              здобутий позитивний імідж, бути
            </div>
          </div>
        </div>
        <div class="block-stories-list">
          <img class="pull-left img_box_stories" src="/images/img_box_stories.jpg" alt="">
          <div class="media-body box-stories-list">
            <div class="title-box-stories-list"><a href="">Громадський Простір спільно з Проектом ЄС для розвитку
              громадянського суспільства перезапускають сайт EuProstir</a></div>
            <div class="about-box-stories-list">Українським громадським організаціям варто активніше використовувати вже
              здобутий позитивний імідж, бути
            </div>
          </div>
        </div>
        <div class="block-stories-list">
          <img class="pull-left img_box_stories" src="/images/img_box_stories.jpg" alt="">
          <div class="media-body box-stories-list">
            <div class="title-box-stories-list"><a href="">Громадський Простір спільно з Проектом ЄС для розвитку
              громадянського суспільства перезапускають сайт EuProstir</a></div>
            <div class="about-box-stories-list">Українським громадським організаціям варто активніше використовувати вже
              здобутий позитивний імідж, бути
            </div>
          </div>
        </div>

        <div class="text-center">
          <a class="btn btn-more btn-stories">відкрити більше</a>
        </div>

      </div>

      <div class="col-md-3 col-sm-3">
        <div class="block-popular">
          <p class="t-popular">популярне</p>
          <div class="box-popular box1-popular">
            <img class="pull-left" src="/images/img_popular.jpg" alt="">
            <div class=" media-body">
              <div class="title-box-popular">Громадський Простір спільно з Проектом ЄС для розвитку громадянського
                суспільства перезапускають сайт EuProstir
              </div>
            </div>
          </div>
          <div class="box-popular">
            <img class="pull-left" src="/images/img_popular.jpg" alt="">
            <div class=" media-body">
              <div class="title-box-popular">Громадський Простір спільно з Проектом ЄС для розвитку громадянського
                суспільства перезапускають сайт EuProstir
              </div>
            </div>
          </div>
          <div class="box-popular">
            <img class="pull-left" src="/images/img_popular.jpg" alt="">
            <div class=" media-body">
              <div class="title-box-popular">Громадський Простір спільно з Проектом ЄС для розвитку громадянського
                суспільства перезапускають сайт EuProstir
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>