<div class="box-popular">
  {{#link-to endpoint item.id}}
    <div class="pull-left img-box-popular" style="{{item.imageStyle}}"></div>
  {{/link-to}}
  <div class="media-body">
    {{#link-to endpoint item.id}}
      <div class="title-box-popular">{{item.title}}</div>
    {{/link-to}}
  </div>
</div>