{{#link-to "practices.item" item.id}}
  <div class="block-practice">
    <div class="top-practice">
      <div class="img-practice" style="background-image: url({{item.image_url}});"></div>
    </div>
    <div class="about-practice">
      <p class="title-practice">{{item.title}}</p>
      <p class="summary-practice">{{item.summary}}</p>
    </div>
  </div>
{{/link-to}}