<form class="search-mobile">
  <input name="search_query" type="text" maxlength="128" placeholder="{{t "search"}}"/>
  <input type="submit" formaction="http://www.youtube.com/results" value="YouTube" />
  <input type="submit" formaction="https://torrentz.eu/search" value="TorrentZ" />
</form>