<div class="block-events">

  {{#if isLoading}}
    <i class="fa fa-spinner fa-spin"></i>
    Завантажується...
  {{else}}
    {{#each items as |item|}}

      {{event/event-list-homepage-item
        class="block-event-container"
        item=item}}

    {{/each}}
  {{/if}}

</div><!--block-events-->