@import "ember-bootstrap/bootstrap";
@import "ember-power-calendar";
@import "font-awesome";
@import "common-fonts";
@import "common-style";
@import "common-media";
@import "common-slick";
@import "common-slick-theme";
@import "common-calendar";
@import "filter-style";
@import "filter-media";
@import "form-style";
@import "form-media";
@import "header-style";
@import "header-media";
@import "footer-style";
@import "footer-media";
@import "homepage-style";
@import "homepage-media";
@import "page-style";
@import "page-media";
@import "posts-style";
@import "posts-media";
@import "static-style";
@import "static-media";
@import "stories-style";
@import "stories-media";
@import "story-style";
@import "story-media";
@import "practices-style";
@import "practices-media";
@import "practice-style";
@import "practice-media";
@import "opportunities-style";
@import "opportunities-media";
@import "opportunity-style";
@import "opportunity-media";
@import "courses-style";
@import "courses-media";
@import "course-style";
@import "course-media";
@import "events-style";
@import "events-media";
@import "event-style";
@import "event-media";
@import "resources-style";
@import "resources-media";
@import "resource-style";
@import "resource-media";
@import "war-style";

.loading-slider {
  z-index: 9999;

  span {
    background-color: #3b4256;
    height: 4px;
  }
}
