@import "ember-bootstrap/bootstrap";
@import "font-awesome";
@import "fonts";
@import "slick-theme";
@import "slick";
@import "style";
@import "media";
@import "filter";
@import "homepage-style";
@import "homepage-media";
@import "stories-style";
@import "story-style";
@import "story-media";
@import "practices";
@import "practice-style";
@import "practice-media";
@import "opportunity-style";
@import "opportunity-media";
@import "static-style";
@import "static-media";

.loading-slider {
  z-index: 9999;

  span {
    background-color: #3b4256;
    height: 4px;
  }
}
