/* Extra small devices (mobile: phones, 767px and down) */
@media only screen and (max-width: 767px) {
  .category-text {
    max-width: 213px !important;
    top: 32px;
    padding-bottom: 10px;
  }

  .category-name {
    font: 36px UbuntuMedium, sans-serif;
    margin-bottom: 0;
  }

  .slogan-name {
    position: static !important;
    top: 24px;
    margin: 0 !important;
  }

  .container-fluid {
    width: 100%;
    max-width: 1680px;
    padding: 0 0;
  }

  .box3 {
    display: none !important;
  }

  .box2 {
    padding: 7px 10px 0 4px;
  }
}

/* Medium devices (tablet: landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (desktop: laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (jumbo: large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
