.sect-courses {
  padding: 0;

  .courses-category {
    background-image: url(/images/bg-category-courses.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 27px;
    width: 108px;
    margin: 0;
    font: 12px UbuntuMedium, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
    position: absolute;
    top: -16px;
    left: 268px;
  }

  .courses-online-header {
    font: 38px UbuntuRegular, sans-serif;
    color: #3b4256;
  }

  .courses-popular-header {
    text-align: center;
    font: 18px UbuntuBold, sans-serif;
    color: #3b4256;
    text-transform: uppercase;
    margin-top: 75px;
  }

  .courses-list-popular {
    background: linear-gradient(to right, #542E91, #765AA7);
    padding: 35px 0;
    margin-top: 30px;

    a {
      text-decoration: none;
    }

    a:hover {
      .courses-list-popular-item {
        background-color: #00AFBB;
      }

      .courses-list-popular-item-title,
      .courses-list-popular-item-summary {
        color: #fff;
      }
    }

    .courses-list-popular-item {
      width: 100%;
      max-width: 332px;
      height: 375px;
      background-color: #fff;

      .courses-list-popular-item-picture {
        height: 188px;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .courses-list-popular-item-about {
        padding: 20px 30px 0 20px;
      }

      .courses-list-popular-item-title {
        font: 19px UbuntuRegular, sans-serif;
        color: #3b4256;
        line-height: 1em;
        height: 2em;
        overflow: hidden;
      }

      .courses-list-popular-item-summary {
        font: 14px UbuntuRegular, sans-serif;
        color: #686879;
        margin-top: 15px;
        line-height: 1.4em;
        height: 5.6em;
        overflow: hidden;
      }
    }
  }

  .filter-trigger {
    background-color: #F9F9FA;
  }
}

.courses-tile-container {
  background-color: #F9F9FA;
  padding: 90px 0;

  .courses-select-container {
    margin-top: 30px;
  }

  .courses-select-header {
    font: 18px UbuntuBold, sans-serif;
    color: #3b4256;
    text-transform: uppercase;
  }

  .courses-list-tile {
    margin-top: 30px;

    .row .col-md-3:nth-child(2n) .courses-list-tile-item {
      background-color: #fff;
    }

    .col-md-3 {
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      .courses-list-tile-item {
        background-color: #fff;
        box-shadow: 0 0 15px rgba(15, 15, 16, 0.15);
        z-index: 10;
        position: relative;
      }
    }

    .courses-list-tile-item {
      padding: 15px;
      height: 375px;

      .courses-list-tile-item-picture {
        height: 135px;
        margin: 0 auto;
        display: block;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .courses-list-tile-item-about {
        padding: 19px 15px 0;

        .courses-list-tile-item-title {
          font: 18px UbuntuRegular, sans-serif;
          color: #3b4256;
          height: 2.5em;
          overflow: hidden;
        }

        .courses-list-tile-item-summary {
          font: 14px UbuntuRegular, sans-serif;
          color: #686879;
          margin-top: 15px;
          line-height: 1.1em;
          height: 5.3em;
          overflow: hidden;
        }

        .courses-list-tile-item-info {
          font: 14px UbuntuRegular, sans-serif;
          color: #888796;
          margin-top: 20px;

          img {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .btn-more {
    margin-top: 59px;
  }
}
