.sect-events {
  padding: 0;
  overflow-x: hidden;

  .events-title {
    font: 38px UbuntuRegular, sans-serif;
    color: #3b4256;
  }

  .cont2-sect-events {
    margin-top: 25px;
    min-height: 400px;

    .block-events {
      a:nth-child(even) {
        .block-event {
          background: #f6f6f8;
        }
      }
    }

    .block-event {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 10px;
      padding-bottom: 10px;

      .dates-event {
        float: left;
        width: 130px;
        margin-right: 15px;
        padding: 0;

        .date1-event {
          .date1-event-day {
            display: inline;
            font: 60px UbuntuBold, sans-serif;
            color: #a6a4af;
            vertical-align: middle;
          }

          .date1-event-month {
            display: inline;
            font: 18px UbuntuBold, sans-serif;
            color: #888796;
            margin-left: 15px;
            text-transform: uppercase;
            vertical-align: middle;
          }
        }

        .date2-event {
          .date2-event-day {
            display: inline;
            font: 60px UbuntuBold, sans-serif;
            color: #d2d0d6;
            vertical-align: middle;
          }

          .date2-event-month {
            display: inline;
            font: 18px UbuntuBold, sans-serif;
            color: #afaeb8;
            margin-left: 15px;
            text-transform: uppercase;
            vertical-align: middle;
          }
        }
      }

      .image-event {
        float: left;
        width: calc(100% - 150px);
        height: 140px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .about-event {
        .title-event {
          font: 22px UbuntuRegular, sans-serif;
          color: #3b4256;
        }

        .summary-event {
          font: 16px UbuntuRegular, sans-serif;
          color: #686879;
          height: 3.5em;
          overflow: hidden;
        }
      }
    }

    a:hover {
      text-decoration: none;

      .date1-event-day {
        color: #00b0bb !important;
      }

      .date1-event-month {
        color: #00b0bb !important;
      }

      .date2-event-day {
        color: #bde1e5 !important;
      }

      .date2-event-month {
        color: #95d1d7 !important;
      }

      .title-event {
        color: #542e91 !important;
      }
    }
  }

  .year-events {
    font: 17px UbuntuBold, sans-serif;
    color: #afaeb8;
    margin-left: 150px;
    margin-top: 40px;
  }

  .block_img_events img {
    max-width: 220px;
  }

  .title_events {
    font: 18px UbuntuRegular, sans-serif;
    color: #3b4256;
  }

  .about_events {
    font: 14px UbuntuRegular, sans-serif;
    color: #686879;
    height: 40px;
    overflow: hidden;
  }

  .block_about_events {
    margin-left: 0;
  }

  .block_date_events {
    width: 140px;
    margin-right: 10px;
    padding-top: 0;
    margin-top: -9px;
  }

  .box_events:hover .title_events {
    color: #542e91;
  }

  .box_events2 {
    position: relative;
    height: 150px;
  }

  .box_events2:nth-child(2n)::before {
    background-color: #F6F6F8;
    content: "";
    height: 150px;
    width: 1270px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .calendar {
    margin-top: 65px;
  }

  .box_events_first {
    margin-top: 0;
  }

  .category-name-events::before {
    background-image: url(/images/icon_events.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 18px;
    height: 19px;
    content: "";
    display: block;
    position: absolute;
    right: -42px;
    top: -6px;
  }

  .slogan-events {
    position: absolute;
    top: -15px;
    right: -97px;
  }

  .btn-events {
    margin-top: 59px;
  }

  .dropcontainer {
    z-index: 10;
  }

  .dropdowndate {

  }

  .block-select-date {
    display: inline-block;
  }

  .block-select-date .dropcontainer ul {
    margin-left: 22px;
    margin-top: -5px;
  }
}
