.sect-events {
  padding: 0 0 55px 0;
  padding-bottom: 70px !important;
  overflow-x: hidden;

  .slogan-name-events {
    position: absolute;
    top: -15px;
    right: -80px;
  }

  .category-name-events::before {
    background-image: url(/images/icon_events.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 25px;
    height: 21px;
    content: "";
    display: block;
    position: absolute;
    right: -42px;
    top: -6px;
  }

  .cont2-sect-events {
    //margin-top: 75px;
    min-height: 500px;

    .block-events {
      padding-top: 15px;

      .block-event {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;

        .event-dates {
          float: left;
          width: 140px;
          margin-right: 5px;
          padding: 0;

          .event-date1 {
            .event-date1-day {
              display: inline;
              font: 60px UbuntuBold, sans-serif;
              color: #a6a4af;
              vertical-align: middle;
            }

            .event-date1-month {
              display: inline;
              font: 17px UbuntuRegular, sans-serif;
              color: #888796;
              margin-left: 10px;
              text-transform: uppercase;
              vertical-align: middle;
            }
          }

          .event-date2 {
            .event-date2-day {
              display: inline;
              font: 60px UbuntuBold, sans-serif;
              color: #d2d0d6;
              vertical-align: middle;
            }

            .event-date2-month {
              display: inline;
              font: 18px UbuntuRegular, sans-serif;
              color: #afaeb8;
              margin-left: 10px;
              text-transform: uppercase;
              vertical-align: middle;
            }
          }
        }

        .event-image {
          float: left;
          width: calc(100% - 150px);
          height: 140px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .event-about {
          .event-title {
            font: 22px UbuntuRegular, sans-serif;
            color: #3b4256;
          }

          .event-summary {
            font: 16px UbuntuRegular, sans-serif;
            color: #686879;
            height: 3.5em;
            overflow: hidden;
          }
        }
      }

      .block-event-container:nth-child(even) {
        background-color: #F6F6F8;
      }

      a:hover {
        text-decoration: none;

        .event-date1-day {
          color: #00b0bb !important;
        }

        .event-date1-month {
          color: #00b0bb !important;
        }

        .event-date2-day {
          color: #bde1e5 !important;
        }

        .event-date2-month {
          color: #95d1d7 !important;
        }

        .event-title {
          color: #542e91 !important;
        }
      }
    }
  }

  .events-title {
    font: 38px UbuntuRegular, sans-serif;
    color: #3b4256;
  }

  .year-events {
    font: 17px UbuntuBold, sans-serif;
    color: #afaeb8;
    margin-left: 150px;
    margin-top: 40px;
  }

  .block_img_events img {
    max-width: 220px;
  }

  .title_events {
    font: 18px UbuntuRegular, sans-serif;
    color: #3b4256;
  }

  .about_events {
    font: 14px UbuntuRegular, sans-serif;
    color: #686879;
    height: 40px;
    overflow: hidden;
  }

  .block_about_events {
    margin-left: 0;
  }

  .block_date_events {
    width: 140px;
    margin-right: 10px;
    padding-top: 0;
    margin-top: -9px;
  }

  .box_events:hover .title_events {
    color: #542e91;
  }

  .box_events2 {
    position: relative;
    height: 150px;
  }

  .box_events2:nth-child(2n)::before {
    background-color: #F6F6F8;
    content: "";
    height: 150px;
    width: 1270px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .calendar {
    margin-top: 65px;
  }

  .box_events_first {
    margin-top: 0;
  }

  .btn-events {
    margin-top: 59px;
  }

  .dropcontainer {
    z-index: 10;
  }

  .dropdowndate {

  }

  .block-select-date {
    display: inline-block;
  }

  .block-select-date .dropcontainer ul {
    margin-left: 22px;
    margin-top: -5px;
  }

  .block-popular {
  }

  .block-popular::before {
    content: "";
    height: 1px;
    width: 1000px;
    background-color: #BAAFD6;
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .block-calendar {
    padding-top: 75px;

    .ember-power-calendar-nav-control {
      font-size: 12px;
      font-weight: 100;
      color: #7c62ab;
    }

    .ember-power-calendar-nav-title {
      font-size: 15px;
      text-transform: capitalize;
    }

    .ember-power-calendar-weekday,
    .ember-power-calendar-day {
      font-size: 14px;
      text-transform: uppercase;
    }

    .ember-power-calendar-weekday {
      padding: 5px;
      color: #aaa;
    }

    .ember-power-calendar-day--current-month {
      background-color: #eee;

      .unactive {
        padding: 5px;
      }

      .active {
        font-weight: bold;
        padding: 5px;
        background-color: #7c62ab;
        color: #fff;
      }
    }

    .ember-power-calendar-day--other-month {
      background-color: #fff;
      color: #fff;
    }

    .booooold {
      font-weight: 900;
      font-family: UbuntuBold, sans-serif;
    }
  }
}
