.filters {
  margin-bottom: 20px;

  .filter {
    display: inline-block;
  }

  .label {
    min-width: 101px;
    font: 14px UbuntuBold, sans-serif;
    color: #3b4256;
    text-transform: uppercase;
    display: inline-block;
  }

  .trigger {
    font-family: UbuntuRegular, sans-serif;
    color: #7c62ab;
    font-size: 16px;
    display: inline-block;
    border-bottom: 1px solid #BAAFD6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    width: auto;
    min-width: 150px;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 4px;
    margin-left: 20px;
    cursor: pointer;
  }

  .trigger:hover {
    color: #7c62ab;
    text-decoration: none;
  }

  .activetrigger {
    color: #fff !important;
    font-size: 16px;
    display: inline-block;
    background: #614099;
    border-bottom: 1px solid #614099;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    width: auto;
    min-width: 170px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 0;
    padding-bottom: 4px;
    margin-left: 0;
  }

  a.activetrigger {
    background-color: #614099;
    color: #fff;
    text-decoration: none;
  }

  .activetrigger:hover {
    color: #fff;
    background: #614099;
  }

  .activetrigger:active {
    color: #fff;
    background: #614099;
  }

  .dropcontainer {
    font-size: 16px;
    color: #777;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1000;

    ul {
      font-size: 16px;
      border: 0;
      border-top: none;
      background: #614099;
      color: #fff;
      list-style-type: none;
      margin: 0;
      padding: 0;
      z-index: 100;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 340px;

      li {
        background-color: #614099;
        color: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        a {
          color: #fff;
          padding-top: 10px;
          padding-right: 20px;
          padding-left: 20px;
          padding-bottom: 10px;
          text-decoration: none;
          display: block;
        }
      }

      li:hover {
        background: #542E91;
        outline: none;
      }

      li:first-child {
        //display: none;
      }

      li:last-child {
        border-bottom: none;
      }
    }
  }

  .dropdownvisible {
    height: auto;
    background-color: #614099;
  }
}
