/* Extra small devices (mobile: phones, 767px and down) */
@media only screen and (max-width: 767px) {
  footer {
    padding: 20px 0 62px;
    position: relative;

    .arrow-top {
      position: absolute;
      right: 15px;
      top: -67px;
    }

    .box-mailing {
      width: 100% !important;
      height: 226px !important;
      background-color: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
      padding: 32px 19px 0 24px;
      float: none;
      margin: 0 auto;
    }

    .menu_foot {
      padding: 0;
      max-width: 350px;
      margin: 56px auto 0;
    }

    .menu_foot li a {
      font: 16px UbuntuRegular, sans-serif;
    }

    .menu_foot2 {
      white-space: normal;
      margin: 60px auto 0;
    }

    .cont2_footer {
      text-align: center;
      margin-top: 64px;
    }

    .block_ic_foot {
      float: none;
      margin-top: 63px;
    }

    .container-fluid {
      padding: 0 15px;
    }

    .t1_mailing {
      font: 20px UbuntuRegular, sans-serif;
    }

    .t2_mailing {
      font: 14px UbuntuRegular, sans-serif;
      padding-right: 0;
    }

    .ic_big_mail {
      margin-right: 20px;
    }

    .box-mailing {
      width: 330px;
      height: 196px;
      padding: 32px 13px 0 14px;
      float: none;
      margin: 0 auto;
    }
  }

  .under-footer {
    height: auto;
    padding: 24px 0 20px;
    text-align: center;

    .copy {
      font: 14px UbuntuRegular, sans-serif;
      text-align: center;
      margin-top: 25px;
    }
  }
}

/* Medium devices (tablet: landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .menu_foot2 {
    margin-left: 0;
    white-space: normal;
  }

  .menu_foot li a {
    font: 14px UbuntuRegular, sans-serif;
    color: #3b4256;
  }
}
