//------------------
// Stories Begin

.sect-stories {
  padding-top: 80px;

  .slogan-name-stories {
    position: absolute;
    top: -22px;
    right: -105px;
  }

  .cont2-sect-stories {
    margin-top: 42px;

    .story-shadow {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 217px;
      background-image: url(/images/bg_shadow.png);
      background-repeat: no-repeat;
      background-position: top center;
    }

    .box1 {
      background-image: url(/images/box_cat_history1.png);
      background-repeat: no-repeat;
      background-position: top center;
      height: 27px;
      width: 14px;
      position: relative;
      right: -13px;
    }

    .box2 {
      background-image: url(/images/box_cat_history2.png);
      background-repeat: repeat-x;
      background-position: top center;
      height: 27px;
      width: auto;
      font: 12px UbuntuRegular, sans-serif;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      top: -8px;
      right: -5px;
      padding: 7px 2px 0;
    }

    .box3 {
      background-image: url(/images/box_cat_history3.png);
      background-repeat: no-repeat;
      background-position: top center;
      height: 27px;
      width: 14px;
    }

  }
}

// Stories End
//------------------

//------------------
// Practices Begin

.sect-practices {
  margin-top: 140px;
  padding-bottom: 60px;

  .slogan-name-practices {
    position: absolute;
    top: -22px;
    right: -165px;
  }

  .category-name-practices::before {
    background-image: url(/images/icon_practice.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 22px;
    height: 21px;
    content: "";
    display: block;
    position: absolute;
    right: -35px;
    top: -10px;
  }

  .cont2-sect-practices {
    margin-top: 71px;

    a {
      text-decoration: none;
    }

    a:hover {
      .about-practice {
        background-color: #614099;
        box-shadow: none;
      }

      .title-practice {
        color: #fff;
      }

      .summary-practice {
        color: #d7c5f6;
      }
    }
  }

  .block-practice {
    height: 390px;
    margin-bottom: 30px;

    .img-practice {
      height: 200px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .about-practice {
      height: 205px;
      padding: 20px 25px;
      box-shadow: 0 3px 13px rgba(0, 0, 0, 0.15);

      .title-practice {
        font: 19px UbuntuRegular, sans-serif;
        color: #3b4256;
      }

      .summary-practice {
        font: 15px UbuntuRegular, sans-serif;
        color: #686879;
        margin-top: 20px;
        line-height: 1.5;
        height: 4.5em;
        overflow: hidden;
      }
    }
  }

  .btn-practices {
    margin-top: 50px;
  }
}

// Practices End
//------------------

//------------------
// Opportunities Begin

.sect-opportunities {
  padding: 40px 0;

  .slogan-name-opportunities {
    position: absolute;
    top: -22px;
    right: -155px;
  }

  .category-name-opportunities::before {
    background-image: url(/images/icon_ability.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 18px;
    height: 26px;
    content: "";
    display: block;
    position: absolute;
    right: -35px;
    top: -10px;
  }

  .cont2-sect-opportunities {
    margin-top: 75px;
    margin-bottom: 50px;

    .block-opportunity {
      height: 284px;
      padding: 15px;
      margin-bottom: 30px;

      .img-opportunity {
        height: 135px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .about-opportunity {
        padding: 19px 15px 0;
      }

      .title-opportunity {
        font: 18px UbuntuRegular, sans-serif;
        color: #3b4256;
        overflow-y: hidden;
        height: 6em;
      }
    }

    a {
      text-decoration: none;
    }

    a:hover {
      .block-opportunity {
        background-color: #01B1BC;
      }
      .title-opportunity {
        color: #fff;
      }
    }

    .col-md-3 {
      padding: 0;
    }

    .btn-opportunities {
      margin-top: 50px;
    }
  }
}

// Opportunities End
//------------------

//------------------
// Courses Begin

.sect-courses {
  padding: 40px 0;
  padding-bottom: 70px;

  .slogan-name-courses {
    position: absolute;
    top: -15px;
    right: -145px;
  }

  .category-name-courses::before {
    background-image: url(/images/icon_study.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 25px;
    height: 21px;
    content: "";
    display: block;
    position: absolute;
    right: -42px;
    top: -6px;
  }

  .cont2-sect-courses {
    margin-top: 75px;

    a:hover {
      text-decoration: none;
    }

    .video-big-box {
      height: 390px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

      .visual-video-big {
        max-width: 693px;
        width: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        .image-video-big {
          max-width: 100%;
          height: 390px;
          background: no-repeat center center;
          background-size: cover;
        }
      }

      .visual-video-big:hover {
        .shadow-video-big {
          opacity: 0.7;
        }
      }

      .shadow-video-big {
        background: url('/images/big_video_shadow.png') no-repeat center center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 390px;
        transition: all 0.5s ease-out;
      }

      .text-video-big {
        padding: 26px 15px 0 21px;
        height: 390px;

        .title-video-big {
          font: 31px UbuntuRegular, sans-serif;
          color: #56586b;
          line-height: 1.1;
          height: 4.4em;
          overflow: hidden;
        }

        .summary-video-big {
          font: 15px UbuntuRegular, sans-serif;
          color: #686879;
          margin-top: 15px;
          line-height: 1.5em;
          height: 6em;
          overflow: hidden;
        }

        .arrow-video-big {
          margin-top: 20px;
        }
      }
    }
  }

  .cont3-sect-courses {
    margin-top: 30px;

    .video-small-box {
      height: 188px;
      position: relative;
      cursor: pointer;
      margin-bottom: 30px;

      .image-video-small {
        max-width: 100%;
        width: 100%;
        height: 188px;
        background: url('/images/video1.jpg') no-repeat center center;
        background-size: cover;
      }

      .shadow-video-small {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 188px;
        transition: all 0.5s ease-out;
        background: url('/images/video1_shadow.png') no-repeat center center;
        background-size: cover;
      }

      .title-video-small {
        font: 16px UbuntuRegular, sans-serif;
        color: #ffffff;
        position: absolute;
        bottom: 0;
        left: 10px;
        padding-right: 20px;
      }
    }

    .video-small-box:hover {
      .shadow-video-small {
        opacity: 0.7;
      }
    }
  }

  .btn-courses {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

// Courses End
//------------------
