.opportunity {
  position: relative;
  padding-top: 60px;
  padding-bottom: 120px;

  .opportunity-category {
    background-image: url(/images/bg-category-opportunity.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 27px;
    width: 132px;
    margin: 0;
    font: 12px UbuntuMedium, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
  }

  .opportunity-icon {
    float: right;
  }

  .opportunity-date {
    margin-bottom: 0;
    margin-top: 20px;

    .opportunity-actual {
      font: 15px UbuntuRegular, sans-serif;
      color: #888795 !important;
      padding-top: 15px;
    }

    .opportunity-day {
      font: 100px UbuntuBold, sans-serif;
      color: #00aab6;
      text-transform: uppercase;
      text-align: left;
    }

    .opportunity-year {
      font: 18px UbuntuRegular, sans-serif;
      color: #00aab6;
      text-transform: uppercase;
      text-align: left;
    }
  }

  .opportunity-title {
    font: 38px UbuntuRegular, sans-serif;
    color: #3b4256;
    margin-top: 20px;
  }
}

.cont2-opportunity {
  margin-top: 80px;
}

.organizers {
  font: 18px UbuntuBold, sans-serif;
  color: #3b4256;
  text-transform: uppercase;
  margin-bottom: 0;
}

.list-organizers {
  margin-top: 40px;
}

.list-organizers li {
  list-style-type: none;
  font: 14px UbuntuRegular, sans-serif;
  color: #777787;
  text-transform: uppercase;
  margin-bottom: 25px;
  position: relative;
}

.list-organizers li::before {
  content: "";
  background-image: url(/images/icon-organizers.png);
  background-repeat: no-repeat;
  background-position: top center;
  width: 18px;
  height: 18px;
  position: absolute;
  left: -38px;
  top: 5px;
}

.list-organizers li:hover {
  color: #3b4256;
}

.list-organizers li:hover:before {
  background-position: 0 -18px;
}

.opportunity-description {
  font-size: 17px;
  color: #3b4256;
  margin-top: 34px;
  margin-bottom: 0;
}

.block-opportunity {
  margin-top: 70px;
}

.block-opportunity::before {
  content: "";
  height: 1px;
  width: 610px;
  background-color: #BAAFD6;
  position: absolute;
  top: 9px;
  right: 0;
}

.pos-rel {
  position: relative;
}

.sticky {
  position: fixed;
  z-index: 101;
}

.stop {
  position: relative;
  z-index: 101;
}
