/***************  Begin Stories Styles ****************/

.sect-practices-list {
  padding: 55px 0;

  .name-stories-list {
    font: 38px UbuntuRegular, sans-serif;
    color: #3b4256;
  }

  .img-box-stories {
    width: 331px;
    height: 188px;
    overflow: hidden;
    margin-right: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title-box-stories-list {
    font: 18px UbuntuRegular, sans-serif;
    color: #3b4256;
    line-height: 1.3em;
    height: 3.9em;
    overflow: hidden;
    margin-bottom: 14px;
  }

  .title-box-stories-list a {
    font: 18px UbuntuRegular, sans-serif;
    color: #3b4256;
  }

  .about-box-stories-list {
    font: 16px UbuntuRegular, sans-serif;
    color: #686879;
    line-height: 1.4em;
    height: 4.2em;
    overflow: hidden;
    margin-bottom: 0;
  }

  .box-stories-list {
    padding-top: 24px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  .block1-stories-list {
    margin-top: 40px;
  }

  .block-popular {
    margin-top: 21px;
    margin-left: 4px;

    .t-popular {
      font: 18px UbuntuBold, sans-serif;
      color: #3b4256;
      margin-top: 60px;
      text-transform: uppercase;
    }

    .box1-popular {
      margin-top: 38px;
    }
  }

  .block-popular::before {
    background-color: #BAAFD6;
    content: "";
    display: block;
    height: 1px;
    width: 700px;
  }

  .btn-stories {
    max-width: 207px;
    display: block;
    margin: 80px auto 0;
  }
}

@media only screen and (max-width: 768px) {
  .sect-practices-list {
    padding: 60px 0;

    .block1-stories-list {
      margin-top: 40px;
    }

    .btn-stories {
      margin-top: 53px;
    }

    .block-popular::before {
      width: 100%;
    }

    .block-popular {
      margin-top: 85px;
    }
  }
}

/***************  Begin Stories Styles ****************/
