@media only screen and (max-width: 992px) {
  .team-photo {
    display: block;
    float: right !important;
  }
}

@media only screen and (max-width: 767px) {
  .static {
    position: relative;
    padding-top: 5px;
    padding-bottom: 30px;

    .cont2-static {

      .story-list-block {
        margin: 0 auto 20px;
      }

      .story-image {
        height: 200px;
        background-position: center center;
        background-size: contain;
        margin-bottom: 10px;
      }

      .story-shadow {
        height: 0;
      }

      .story-title {
        color: #000;
        bottom: 14px;
        font-size: 20px;
        line-height: 1.1em;
        max-height: 3.3em;
        padding: 0 !important;
        margin: 0 0 10px !important;
      }

      .story-summary {
        color: #000;
        max-height: 5.5em;
        padding: 0 !important;
        margin: 0 !important;
      }

    }
  }

  .team-photo {
    display: block;
    float: none !important;
  }

  .box-team-static {
    text-align: left;
  }

  .block-team-static::before,
  .block-contact-static::before {
    width: 830px;
  }

  #block-share-static {
    display: none;
  }
}
