.sect-stories-list {
  padding: 55px 0;

  .name-stories-list {
    font: 38px UbuntuRegular, sans-serif;
    color: #3b4256;
  }

  .t_cat {
    font: 14px UbuntuBold, sans-serif;
    color: #3b4256;
    text-transform: uppercase;
    display: inline-block;
  }

  .cont2-sect-stories-list {
    margin-top: 25px;
    min-height: 400px;
  }

  .trigger {
    font-family: UbuntuRegular, sans-serif;
    color: #7c62ab;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 0;
    padding-bottom: 4px;
    font-size: 16px;
    background: #fff url(/images/select-arrow-open.png) no-repeat 136px 16px;
    display: inline-block;
    border-bottom: 1px solid #BAAFD6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    width: auto;
    min-width: 150px;
    margin-left: 19px;
    cursor: pointer;
  }

  .trigger:hover {
    color: #7c62ab;
    text-decoration: none;
  }

  .activetrigger {
    color: #fff !important;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 4px;
    font-size: 16px;
    background: #614099 url(/images/select-arrow-close.png) no-repeat 151px 16px;
    display: inline-block;
    border-bottom: 1px solid #614099;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    width: auto;
    min-width: 180px;
    margin-left: 4px;
  }

  a.activetrigger {
    background-color: #614099;
    color: #fff;
    text-decoration: none;
  }

  .activetrigger:hover {
    color: #fff;
  }

  .activetrigger:active {
    color: #fff;
  }

  .dropcontainer {
    font-size: 16px;
    color: #777;
    position: absolute;
    margin-left: -17px;

    ul {
      font-size: 16px;
      border: 0;
      border-top: none;
      background: #614099;
      color: #fff;
      list-style-type: none;
      padding: 20px 0;
      z-index: 100;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 340px;
      margin: -5px 0 0 126px;

      li {
        background-color: #614099;
        color: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        a {
          color: #fff;
          padding: 10px 25px;
          text-decoration: none;
          display: block;
        }
      }

      li:hover {
        background: #542E91;
        outline: none;
      }

      li:first-child {
        display: none;
      }

      li:last-child {
        border-bottom: none;
      }
    }
  }

  .dropdownvisible {
    height: auto;
    background-color: #614099;
  }

  .img-box-stories {
    width: 331px;
    height: 188px;
    overflow: hidden;
    margin-right: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title-box-stories-list {
    font: 18px UbuntuRegular, sans-serif;
    color: #3b4256;
    line-height: 1.3em;
    height: 3.9em;
    overflow: hidden;
    margin-bottom: 14px;
  }

  .title-box-stories-list a {
    font: 18px UbuntuRegular, sans-serif;
    color: #3b4256;
  }

  .about-box-stories-list {
    font: 16px UbuntuRegular, sans-serif;
    color: #686879;
    line-height: 1.4em;
    height: 4.2em;
    overflow: hidden;
    margin-bottom: 0;
  }

  .box-stories-list {
    padding-top: 24px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  .block-stories-list {
    margin-bottom: 34px;
    clear: both;
    display: table;
  }

  .block1-stories-list {
    margin-top: 40px;
  }

  .sect-stories-list {
    overflow-x: hidden;
  }

  .block-popular {
    margin-top: 21px;
    margin-left: 4px;

    .t-popular {
      font: 18px UbuntuBold, sans-serif;
      color: #3b4256;
      margin-top: 60px;
      text-transform: uppercase;
    }

    .box-popular {
      clear: both;
      display: table;
      margin-bottom: 20px;

      .img-box-popular {
        width: 73px;
        height: 71px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .title-box-popular {
        font: 14px UbuntuRegular, sans-serif;
        color: #3b4256;
        line-height: 1.3em;
        height: 5.0em;
        overflow: hidden;
        padding-left: 12px;
        margin-bottom: 0;
      }
    }

    .box1-popular {
      margin-top: 38px;
    }
  }

  .block-popular::before {
    background-color: #BAAFD6;
    content: "";
    display: block;
    height: 1px;
    width: 700px;
  }

  .btn-stories {
    max-width: 207px;
    display: block;
    margin: 80px auto 0;
  }
}
