body {
  font-family: UbuntuRegular, serif;
  position: relative;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1080px;
}

.container-fluid {
  width: 100%;
  max-width: 1680px;
  padding: 0 30px;
}

.pos_rel {
  position: relative;
}

a:focus, a:hover {
  background-color: transparent;
  outline: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  outline: none;
  outline-offset: 0;
}

:focus {
  outline: none;
  outline-width: 0;
}

//------------------
// Header Top Begin

.header-top {
  margin-bottom: 190px;

  a.ua {
    font: 14px UbuntuRegular, sans-serif;
    color: #ffffff;
    text-decoration: none;
    margin-right: 19px;
  }

  a.en {
    font: 14px UbuntuRegular, sans-serif;
    color: #cfc7e3;
    text-decoration: none;
  }

  .btn_wetipp {
    box-shadow: 0 3px 8px rgba(15, 15, 16, 0.12);
    float: right;
    margin-right: 0;
  }

  .btn_wetipp:hover {
    box-shadow: none;
    float: right;
  }
}

// Header Top End
//------------------

//------------------
// Header Desktop Begin

.header-desktop {
  height: 45px;
  background: linear-gradient(to left, #542E91, #765AA7);

  .block-lang {
    margin-top: 10px;

    a {
      font: 14px UbuntuRegular, sans-serif;
      color: #ccc;
      margin-right: 15px;
    }

    a.active {
      font: 14px UbuntuRegular, sans-serif;
      color: #fff;
    }

  }

  .block-social-desktop {
    float: right;
    margin: 12px -3px 0 0;

    img {
      margin-left: 30px;
    }
  }
}

// Header Desktop End
//------------------

//------------------
// Header Mobile Begin

.header-mobile {
  height: 45px;
  background: linear-gradient(to left, #542E91, #765AA7);

  .block-lang {
    margin-top: 12px;

    a {
      font: 14px UbuntuRegular, sans-serif;
      color: #ccc;
      margin-right: 15px;
    }

    a.active {
      font: 14px UbuntuRegular, sans-serif;
      color: #fff;
    }
  }
}

// Header Mobile End
//------------------

//------------------
// Menu Desktop Begin

.sect-menu {
  position: absolute;
  top: 65px;
  width: 100%;
  padding: 40px 0;

  .logotip {
    background-image: url(/images/logotip.png);
    max-width: 183px;
    max-height: 66px;
    width: 183px;
    height: 66px;
  }

  .top-menu {
    padding: 0;
    margin-top: 0;

    ul {
      float: left;
      margin-top: 16px;
      margin-left: 50px;

      li {
        list-style-type: none;
        float: left;
        margin-right: 0;
        margin-bottom: 0;

        a {
          font: 16px UbuntuRegular, sans-serif;
          color: #3b4256;
          text-transform: uppercase;
          position: relative;
          display: block;
          padding: 10px 15px;
          border-radius: 150px;
        }

        a:hover, a:focus {
          color: #542e91;
          background-image: url(/images/bg_menu_hover.jpg);
          background-repeat: repeat;
          text-decoration: none;
        }
      }
    }
  }
}

.sect-menu-mobile {
  padding: 0;
  margin: 0;
}

.sect-menu-inverted {
  .logotip {
    background-image: url(/images/logotip-white.png) !important;
  }

  .top-menu {
    ul {
      li {
        a {
          color: #fff !important;
        }
        a:hover, a:focus {
          color: #542e91 !important;
        }
      }
    }
  }
}

.menu-fixed {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 85px;
  padding: 10px !important;
  z-index: 200;
  background: #fff;
  overflow: hidden;
  opacity: 0.95;

  .logotip {
    background-image: url(/images/logotip.png) !important;
  }

  .top-menu {
    ul {
      li {
        a {
          color: #3b4256 !important;
        }
        a:hover, a:focus {
          color: #542e91 !important;
        }
      }
    }
  }
}

.menu-fixed:hover {
  opacity: 1;
}

// Menu Desktop End
//------------------

//------------------
// Search Begin

.block-search {
  .btn-search {
    float: right;
    margin-top: 10px;
    cursor: pointer;
  }

  .search {
    width: 670px;
    position: absolute;
    right: 60px;
    top: 15px;

    input {
      border: none;
    }

    .input-search {
      width: 100%;
      padding: 8px 37px 9px 21px;
      height: 40px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 20px;
      background: #F3F4F6;
      font: 14px UbuntuRegular, sans-serif;
      color: #555;
      outline: none;
    }

    .btn-search-submit {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 19px;
      height: 100%;
      background: transparent;
      cursor: pointer;
      background-image: url(/images/search_btn_form.png);
      background-repeat: no-repeat;
      background-position: top center;
    }

    input[type="search"] {
      -webkit-appearance: none;
    }

    .search-results {
      position: absolute;
      width: calc(100% - 20px);
      margin-left: 10px;
      background-color: #F3F4F6;
      border: 1px solid #F3F4F6;
      border-radius: 5px;
      z-index: 10000;
      //padding: 0 10px;

      a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px 10px;
        cursor: pointer;
        font: 14px UbuntuRegular, sans-serif;
        color: #555;
      }

      a:hover {
        background-color: #ddd;
        text-decoration: none;
      }
    }
  }
}

// Search End
//------------------

//------------------
// Category Begin

.block-category-container {
  text-align: center;
  border-bottom: 1px solid #BAAFD6;

  .category-text {
    width: 100%;
    max-width: 332px;
    margin: 0 auto;
    background-color: #fff;
    top: 24px;
    padding-bottom: 10px;
    position: relative;
  }

  .slogan-name {
    font: 25px EBGaramondItalic, sans-serif;
    color: #9884be;
  }

  .category-name {
    font: 36px UbuntuMedium, sans-serif;
    color: #3b4256;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
  }

  .category-name::before {
    background-image: url(/images/icon_history.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 19px;
    height: 20px;
    content: "";
    display: block;
    position: absolute;
    right: -35px;
    top: -10px;
  }
}

// Category End
//------------------

//------------------
// More Button Begin

.btn-more {
  background-color: transparent;
  border: 1px solid #542E91;
  border-radius: 150px;
  font: 14px UbuntuRegular, sans-serif;
  color: #542e91;
  text-transform: uppercase;
  padding: 16px 40px;
}

.btn-more:hover,
.btn-more:focus,
.btn-more:active {
  box-shadow: none;
  outline: none !important;
  background-color: #01B1BC;
  border: 1px solid #01B1BC;
  color: #fff;
}

// More Button End
//------------------

//------------------
// Practices Begin

.sect-practices {
  margin-top: 140px;
  padding-bottom: 60px;

  .slogan-name-practices {
    position: absolute;
    top: -22px;
    right: -165px;
  }

  .category-name-practices::before {
    background-image: url(/images/icon_practice.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 22px;
    height: 21px;
    content: "";
    display: block;
    position: absolute;
    right: -35px;
    top: -10px;
  }

  .cont2-sect-practices {
    margin-top: 71px;

    a {
      text-decoration: none;
    }

    a:hover {
      .about-practice {
        background-color: #614099;
        box-shadow: none;
      }

      .title-practice {
        color: #fff;
      }

      .summary-practice {
        color: #d7c5f6;
      }
    }
  }

  .block-practice {
    height: 390px;
    margin-bottom: 30px;

    .img-practice {
      height: 200px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .about-practice {
      height: 205px;
      padding: 20px 25px;
      box-shadow: 0 3px 13px rgba(0, 0, 0, 0.15);

      .title-practice {
        font: 19px UbuntuRegular, sans-serif;
        color: #3b4256;
      }

      .summary-practice {
        font: 15px UbuntuRegular, sans-serif;
        color: #686879;
        margin-top: 20px;
        line-height: 1.5;
        height: 4.5em;
        overflow: hidden;
      }
    }
  }

  .btn-practices {
    margin-top: 50px;
  }
}

// Practices End
//------------------

//------------------
// Opportunities Begin

.sect-opportunities {
  padding: 40px 0;

  .slogan-name-opportunities {
    position: absolute;
    top: -22px;
    right: -155px;
  }

  .category-name-opportunities::before {
    background-image: url(/images/icon_ability.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 18px;
    height: 26px;
    content: "";
    display: block;
    position: absolute;
    right: -35px;
    top: -10px;
  }

  .cont2-sect-opportunities {
    margin-top: 75px;

    .block-opportunity {
      height: 284px;
      padding: 15px;
      margin-bottom: 30px;

      .img-opportunity {
        height: 135px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .about-opportunity {
        padding: 19px 15px 0;
      }

      .title-opportunity {
        font: 18px UbuntuRegular, sans-serif;
        color: #3b4256;
      }
    }

    a {
      text-decoration: none;
    }

    a:hover {
      .block-opportunity {
        background-color: #01B1BC;
      }
      .title-opportunity {
        color: #fff;
      }
    }

    .col-md-3 {
      padding: 0;
    }

    .btn-opportunities {
      margin-top: 25px;
    }
  }
}

// Opportunities End
//------------------

//------------------
// Study Begin

.sect-courses {
  padding: 70px 0;

  .slogan-courses {
    position: absolute;
    top: -15px;
    right: -145px;
  }

  .category-name-courses::before {
    background-image: url(/images/icon_study.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 25px;
    height: 21px;
    content: "";
    display: block;
    position: absolute;
    right: -42px;
    top: -6px;
  }

  .cont2-sect-courses {
    margin-top: 76px;

    a:hover {
      text-decoration: none;
    }

    .box-video-big {
      height: 390px;

      .visual-video-big {
        max-width: 693px;
        width: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        .image-video-big {
          max-width: 100%;
          height: 390px;
          background: no-repeat center center;
          background-size: cover;
        }
      }

      .visual-video-big:hover {
        .shadow-video-big {
          opacity: 0.7;
        }
      }

      .shadow-video-big {
        background: url('/images/big_video_shadow.png') no-repeat center center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 390px;
        transition: all 0.5s ease-out;
      }

      .text-video-big {
        padding: 26px 15px 0 21px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        height: 390px;

        .title-video-big {
          font: 31px UbuntuRegular, sans-serif;
          color: #56586b;
          line-height: 1.1;
          height: 4.4em;
          overflow: hidden;
        }

        .summary-video-big {
          font: 15px UbuntuRegular, sans-serif;
          color: #686879;
          margin-top: 15px;
          line-height: 1.5em;
          height: 6em;
          overflow: hidden;
        }

        .arrow-video-big {
          margin-top: 20px;
        }
      }
    }
  }

  .cont3-sect-courses {
    margin-top: 30px;

    .box-video-small {
      height: 188px;
      position: relative;
      cursor: pointer;
      margin-bottom: 30px;

      .image-video-small {
        max-width: 100%;
        width: 100%;
        height: 188px;
        background: url('/images/video1.jpg') no-repeat center center;
        background-size: cover;
      }

      .shadow-video-small {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 188px;
        transition: all 0.5s ease-out;
        background: url('/images/video1_shadow.png') no-repeat center center;
        background-size: cover;
      }

      .title-video-small {
        font: 16px UbuntuRegular, sans-serif;
        color: #ffffff;
        position: absolute;
        bottom: 0;
        left: 10px;
        padding-right: 20px;
      }
    }

    .box-video-small:hover {
      .shadow-video-small {
        opacity: 0.7;
      }
    }
  }

  .btn-courses {
    margin-top: 50px;
  }
}

// Study End
//------------------

.sect-events {
  padding: 40px 0 117px;

  .category-name-events::before {
    background-image: url(/images/icon_events.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 18px;
    height: 19px;
    content: "";
    display: block;
    position: absolute;
    right: -42px;
    top: -6px;
  }

  .slogan-events {
    position: absolute;
    top: -15px;
    right: -97px;
  }

  .cont2-sect-events {
    margin-top: 80px;

    .block-event-container {
      padding: 15px 0;
      height: 182px;
      cursor: pointer;

      .block-event {
        .dates-event {
          float: left;
          width: 150px;
          margin-right: 30px;
          padding-top: 11px;

          .date1-event {
            .date1-event-day {
              display: inline;
              font: 60px UbuntuBold, sans-serif;
              color: #a6a4af;
              vertical-align: middle;
            }

            .date1-event-month {
              display: inline;
              font: 18px UbuntuBold, sans-serif;
              color: #888796;
              margin-left: 7px;
              text-transform: uppercase;
              vertical-align: middle;
            }
          }

          .date2-event {
            .date2-event-day {
              display: inline;
              font: 60px UbuntuBold, sans-serif;
              color: #d2d0d6;
              vertical-align: middle;
            }

            .date2-event-month {
              display: inline;
              font: 18px UbuntuBold, sans-serif;
              color: #afaeb8;
              margin-left: 7px;
              text-transform: uppercase;
              vertical-align: middle;
            }
          }
        }

        .image-event {
          float: left;
          width: calc(100% - 240px);
          height: 150px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .about-event {
          margin-left: -60px;

          .title-event {
            font: 22px UbuntuRegular, sans-serif;
            color: #3b4256;
          }

          .summary-event {
            font: 16px UbuntuRegular, sans-serif;
            color: #686879;
            height: 3.5em;
            overflow: hidden;
          }
        }
      }
    }

    a:hover {
      text-decoration: none;

      .date1-event-day {
        color: #00b0bb !important;
      }

      .date1-event-month {
        color: #00b0bb !important;
      }

      .date2-event-day {
        color: #bde1e5 !important;
      }

      .date2-event-month {
        color: #95d1d7 !important;
      }

      .title-event {
        color: #542e91 !important;
      }
    }

    .block-event-container:nth-child(2n) {
      background-color: #F6F6F8;
    }
  }

  .btn-events {
    margin-top: 59px;
  }
}

//------------------
// Menu Mobile Begin

.menu-mobile {
  background-color: #FFFFFF;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 27px;

  .btn-close {
    float: right;
    margin-top: 10px;
    cursor: pointer;
  }

  .p30 {
    padding: 0 30px;
  }

  .block-lang {
    margin-top: 0;

    a {
      font: 14px UbuntuRegular, sans-serif;
      color: #9884be;
      margin-right: 15px;
    }

    a.active {
      font: 14px UbuntuRegular, sans-serif;
      color: #542e91;
    }
  }

  .menu-mobile-list {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 0;
  }

  li {
    list-style-type: none;
    margin: 0;

    a {
      font: 16px UbuntuRegular, sans-serif;
      color: #3b4256;
      text-transform: uppercase;
      line-height: 1;
      display: block;
      height: 100%;
      padding: 15px 0;
      padding-left: 30px;
    }

    a:hover {
      color: #542e91;
      text-decoration: none;
      background-color: #F4F2F9;
    }
  }

  .cont2-mobile {
    margin-top: 80px;
  }

  .search-mobile {
    padding: 0 20px;
    width: 100%;
    text-align: left;
    margin-top: 15px;

    .input-search {
      height: 40px;
      border: 0;
      border-radius: 150px;
      background-color: #F3F4F6;
      font: 14px UbuntuRegular, sans-serif;
      color: #a6a4af;
      padding: 0 22px;
      margin-top: 60px;
    }

    .btn-search-submit {
      border: 0;
      background-image: url(/images/search_btn_form.png);
      background-repeat: no-repeat;
      background-position: top center;
      height: 19px;
      width: 19px;
    }
  }
}

// Menu Mobile End
//------------------

//------------------
// Footer Begin

footer {
  background-color: #F0F0F3;
  padding: 77px 0 42px;
  position: relative;

  .arrow-top {
    position: absolute;
    right: 44px;
    top: -25px;
    cursor: pointer;
  }

  .menu_foot {
    padding: 0;
  }

  .menu_foot li {
    list-style-type: none;
    margin-bottom: 10px;
  }

  .menu_foot li a {
    font: 16px UbuntuRegular, sans-serif;
    color: #3b4256;
  }

  .menu_foot li {
    font: 16px UbuntuRegular, sans-serif;
    color: #3b4256;
  }

  .menu_foot2 .ic_tel {
    margin-right: 13px;
  }

  .icon_f {
    background-image: url(/images/icon_f.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 24px;
    width: 24px;
    display: inline-block;
  }

  .icon_f:hover {
    background-position: center -24px;
  }

  .icon_tw {
    background-image: url(/images/icon_tw.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 24px;
    width: 24px;
    display: inline-block;
    margin-left: 17px;
  }

  .icon_tw:hover {
    background-position: center -24px;
  }

  .menu_foot2 {
    margin-left: 75px;
    white-space: nowrap;
  }

  .box_mailing {
    width: 391px;
    height: 196px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    padding: 32px 19px 0 24px;
    float: right;
  }

  .ic_big_mail {
    margin-right: 28px;
  }

  .t1_mailing {
    font: 21px UbuntuRegular, sans-serif;
    color: #542e91;
  }

  .t2_mailing {
    font: 14px UbuntuRegular, sans-serif;
    color: #686879;
    padding-right: 70px;
  }

  .form1 input {
    height: 40px;
    border-radius: 150px;
    font: 14px UbuntuRegular, sans-serif;
    color: #afaeb8;
    border: 0;
    background-color: #F6F6F8;
    padding: 0 130px 0 21px;
    width: 100%;
  }

  .form1 {
    position: relative;
    padding: 0 19px 0 0;
    margin-top: 22px;
  }

  .form1 button {
    height: 40px;
    font: 14px UbuntuRegular, sans-serif;
    color: #fff;
    background-color: #542E91;
    width: 121px;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    line-height: 15px;
    padding-top: 4px;
  }

  .cont2_footer {
    margin-top: 75px;
  }

  .form1 button:hover {
    background-color: #6FCAE7;
    color: #fff;
  }

  .block_ic_foot {
    float: right;
  }

  .block_ic_foot img {
    margin-left: 24px;
  }
}

.under_footer {
  height: 106px;
  background-color: #66469C;
  padding-top: 24px;

  .copy {
    font: 14px UbuntuRegular, sans-serif;
    color: #fff;
    text-align: right;
    margin-top: 38px;
  }
}

// Footer End
//------------------
