body {
  font-family: UbuntuRegular, serif;
  position: relative;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1080px;
}

.container-fluid {
  width: 100%;
  max-width: 1680px;
  padding: 0 30px;
}

.pos_rel {
  position: relative;
}

a:focus, a:hover {
  background-color: transparent;
  outline: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  outline: none;
  outline-offset: 0;
}

:focus {
  outline: none;
  outline-width: 0;
}

//------------------
// Header Top Begin

.header-top {
  margin-bottom: 190px;

  a.ua {
    font: 14px UbuntuRegular, sans-serif;
    color: #ffffff;
    text-decoration: none;
    margin-right: 19px;
  }

  a.en {
    font: 14px UbuntuRegular, sans-serif;
    color: #cfc7e3;
    text-decoration: none;
  }

  .btn_wetipp {
    box-shadow: 0 3px 8px rgba(15, 15, 16, 0.12);
    float: right;
    margin-right: 0;
  }

  .btn_wetipp:hover {
    box-shadow: none;
    float: right;
  }
}

// Header Top End
//------------------

//------------------
// Header Desktop Begin

.header-desktop {
  height: 45px;
  background: linear-gradient(to left, #542E91, #765AA7);

  .block-lang {
    margin-top: 10px;
  }

  .block-social-desktop {
    float: right;
    margin: 12px -3px 0 0;

    img {
      margin-left: 30px;
    }
  }
}

// Header Desktop End
//------------------

//------------------
// Header Mobile Begin

.header-mobile {
  height: 45px;
  background: linear-gradient(to left, #542E91, #765AA7);

  .block-lang {
    margin-top: 12px;
  }
}

// Header Mobile End
//------------------

//------------------
// Menu Desktop Begin

.sect-menu {
  position: absolute;
  top: 65px;
  width: 100%;
  padding: 40px 0;

  .logotip {
    max-width: 183px;
  }

  .top-menu {
    padding: 0;
    margin-top: 0;

    ul {
      float: left;
      margin-top: 16px;
      margin-left: 50px;

      li {
        list-style-type: none;
        float: left;
        margin-right: 0;
        margin-bottom: 0;

        a {
          font: 16px UbuntuRegular, sans-serif;
          color: #3b4256;
          text-transform: uppercase;
          position: relative;
          display: block;
          padding: 10px 15px;
          border-radius: 150px;
        }

        a:hover, a:focus {
          color: #542e91;
          background-image: url(/images/bg_menu_hover.jpg);
          background-repeat: repeat;
          text-decoration: none;
        }
      }
    }
  }
}

.menu-fixed {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 85px;
  padding: 10px !important;
  z-index: 200;
  background: #fff;
  overflow: hidden;
  opacity: 0.95;
}

.menu-fixed:hover {
  opacity: 1;
}

// Menu Desktop End
//------------------

@media only screen and (max-width: 768px) {
  .navbar-toggle {
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .navbar-toggle .icon-bar {
    width: 22px;
    height: 2px;
  }

  .navbar-collapse {
    margin: 0;
    padding: 0 15px;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: right;
  }

  .top-menu li {
    list-style-type: none;
    float: none;
    margin-right: 0;
    margin-bottom: 0;
  }

  .nav > li > a {
    display: block;
    padding: 12px 10px;
  }

  .navbar-toggle .icon-bar {
    width: 22px;
    height: 2px;
    border: 1px solid #fff;
  }

  .navbar-toggle {
    padding: 10px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 4px;
  }

  #top-menu {
    float: right;
    margin-top: 0;
    margin-right: 30px;
  }
}

//------------------
// Search Begin

.block-search {
  .btn-search {
    float: right;
    margin-top: 10px;
    cursor: pointer;
  }

  .search {
    width: 670px;
    position: absolute;
    right: 60px;
    top: 15px;

    input {
      border: none;
    }

    .input-search {
      width: 100%;
      padding: 8px 37px 9px 21px;
      height: 40px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 20px;
      background: #F3F4F6;
      font: 14px UbuntuRegular, sans-serif;
      color: #a6a4af;
      outline: none;
    }

    .btn-search-submit {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 19px;
      height: 100%;
      background: transparent;
      cursor: pointer;
      background-image: url(/images/search_btn_form.png);
      background-repeat: no-repeat;
      background-position: top center;
    }

    input[type="search"] {
      -webkit-appearance: none;
    }
  }
}

// Search End
//------------------

//------------------
// Category Begin

.block-category-cantainer {
  text-align: center;
  border-bottom: 1px solid #BAAFD6;

  .text-category {
    width: 100%;
    max-width: 332px;
    margin: 0 auto;
    background-color: #fff;
    top: 24px;
    padding-bottom: 10px;
    position: relative;
  }

  .slogan-name {
    font: 25px EBGaramondItalic, sans-serif;
    color: #9884be;
  }

  .category-name {
    font: 36px UbuntuMedium, sans-serif;
    color: #3b4256;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
  }

  .category-name::before {
    background-image: url(/images/icon_history.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 19px;
    height: 20px;
    content: "";
    display: block;
    position: absolute;
    right: -35px;
    top: -10px;
  }

  .slogan-name-practices {
    position: absolute;
    top: -22px;
    right: -165px;
  }

  .slogan-name-opportunities {
    position: absolute;
    top: -22px;
    right: -155px;
  }

  .slogan-study {
    position: absolute;
    top: -15px;
    right: -145px;
  }

  .category-name-practices::before {
    background-image: url(/images/icon_practice.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 22px;
    height: 21px;
    content: "";
    display: block;
    position: absolute;
    right: -35px;
    top: -10px;

  }

  .category-name-opportunities::before {
    background-image: url(/images/icon_ability.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 18px;
    height: 26px;
    content: "";
    display: block;
    position: absolute;
    right: -35px;
    top: -10px;

  }

  .name_category_study::before {
    background-image: url(/images/icon_study.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 25px;
    height: 21px;
    content: "";
    display: block;
    position: absolute;
    right: -42px;
    top: -6px;
  }
}

// Category End
//------------------

//------------------
// More Button Begin

.btn-more {
  background-color: transparent;
  border: 1px solid #542E91;
  border-radius: 150px;
  font: 14px UbuntuRegular, sans-serif;
  color: #542e91;
  text-transform: uppercase;
  padding: 16px 40px;
}

.btn-more:hover,
.btn-more:focus,
.btn-more:active {
  box-shadow: none;
  outline: none !important;
  background-color: #01B1BC;
  border: 1px solid #01B1BC;
  color: #fff;
}

// More Button End
//------------------

//------------------
// Stories Begin

.sect-stories {
  padding-top: 80px;

  .slogan-name-stories {
    position: absolute;
    top: -22px;
    right: -105px;
  }

  .cont2-sect-stories {
    margin-top: 42px;

    .box_shadow {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 217px;
      background-image: url(/images/bg_shadow.png);
      background-repeat: no-repeat;
      background-position: top center;
    }

    .summary-story p {
      font: 16px UbuntuRegular, sans-serif;
      color: #686879;
      height: 73px;
      overflow: hidden;
    }

    .box1 {
      background-image: url(/images/box_cat_history1.png);
      background-repeat: no-repeat;
      background-position: top center;
      height: 27px;
      width: 14px;
      position: relative;
      right: -13px;
    }

    .box2 {
      background-image: url(/images/box_cat_history2.png);
      background-repeat: repeat-x;
      background-position: top center;
      height: 27px;
      width: auto;
      font: 12px UbuntuRegular, sans-serif;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      top: -8px;
      right: -5px;
      padding: 7px 2px 0;
    }

    .box3 {
      background-image: url(/images/box_cat_history3.png);
      background-repeat: no-repeat;
      background-position: top center;
      height: 27px;
      width: 14px;
    }

    .box-story-cat {
      position: absolute;
      right: -7px;
      top: 12px;
    }

    .box-story-cat div {
      display: inline-block;
    }

    .slick-slider {
      .block-story {
        width: 100%;
        height: 388px;
        box-shadow: 0 3px 13px rgba(15, 15, 16, 0.15);
      }

      .top-story {
        height: 265px;
        position: relative;
      }

      .img-story {
        height: 265px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .title-story {
        position: absolute;
        bottom: 24px;
        left: 22px;
        font: 26px UbuntuRegular, sans-serif;
        color: #ffffff;
        margin-bottom: 0;
      }

      .summary-story {
        width: 100%;
        padding: 20px;
        overflow: hidden;
      }

      .slides {
        padding: 0;
      }

      .slick-slider img {
        margin: 0 auto;
      }

      .slick-dots {
        bottom: -36px;

        li {
          position: relative;
          display: inline-block;
          width: 15px;
          height: 15px;
          margin: 0 4px;
          padding: 0;
          cursor: pointer;

          button {
            width: 15px;
            height: 15px;
            display: block;
            background-color: transparent;
            border: 1px solid #AFAEB8;
            border-radius: 50px;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
          }
        }

        .slick-active {
          button {
            background-color: #7C62AB;
            opacity: 1;
            border: 1px solid transparent;
          }

          button::before {
            opacity: 0 !important;
          }
        }
      }

      .slick-slide {
        display: block;
        padding: 20px 15px;
      }

    }

  }
}

// Stories End
//------------------

//------------------
// Practices Begin

.sect-practices {
  margin-top: 140px;
  padding-bottom: 60px;

  .cont2-sect-practices {
    margin-top: 71px;

    a {
      text-decoration: none;
    }

    a:hover {
      .about-practice {
        background-color: #614099;
        box-shadow: none;
      }

      .title-practice {
        color: #fff;
      }

      .summary-practice {
        color: #d7c5f6;
      }
    }
  }

  .block-practice {
    height: 390px;
    margin-bottom: 30px;

    .img-practice {
      height: 200px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .about-practice {
      height: 205px;
      padding: 20px 25px;
      box-shadow: 0 3px 13px rgba(0, 0, 0, 0.15);

      .title-practice {
        font: 19px UbuntuRegular, sans-serif;
        color: #3b4256;
      }

      .summary-practice {
        font: 15px UbuntuRegular, sans-serif;
        color: #686879;
        margin-top: 20px;
        line-height: 1.5;
        height: 4.5em;
        overflow: hidden;
      }
    }
  }

  .btn-practices {
    margin-top: 50px;
  }
}

// Practices End
//------------------

//------------------
// Opportunities Begin

.sect-opportunities {
  padding: 40px 0;

  .cont2-sect-opportunities {
    margin-top: 75px;

    .block-opportunity {
      height: 284px;
      padding: 15px;
      margin-bottom: 30px;

      .img-opportunity {
        height: 135px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .about-opportunity {
        padding: 19px 15px 0;
      }

      .title-opportunity {
        font: 18px UbuntuRegular, sans-serif;
        color: #3b4256;
      }
    }

    a {
      text-decoration: none;
    }

    a:hover {
      .block-opportunity {
        background-color: #01B1BC;
      }
      .title-opportunity {
        color: #fff;
      }
    }

    .col-md-3 {
      padding: 0;
    }

    .btn-opportunity {
      margin-top: 25px;
    }
  }
}

// Opportunities End
//------------------

//------------------
// Study Begin

.sect_study {
  padding: 70px 0;

  .cont2_sect_study {
    margin-top: 76px;
  }

  .box_big_video {
    height: 390px;
  }

  .block_video {
    max-width: 693px;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .big_video_shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 0.5s ease-out;
  }

  .block_video:hover .big_video_shadow {
    opacity: 0.7;
  }

  .title_big_video {
    font: 31px UbuntuRegular, sans-serif;
    color: #56586b;
    line-height: 1.1;
  }

  .about_big_video {
    font: 15px UbuntuRegular, sans-serif;
    color: #686879;
    margin-top: 15px;
    line-height: 1.4;
  }

  .big_video_text {
    padding: 26px 15px 0 21px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    height: 390px;
  }

  .arrow_video {
    margin-top: 20px;
  }

  .box_video {
    height: 188px;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .video1_shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 0.5s ease-out;
  }

  .box_video:hover .video1_shadow {
    opacity: 0.7;
  }

  .title_video {
    font: 16px UbuntuRegular, sans-serif;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 10px;
    padding-right: 20px;
  }

  .cont3_sect_study {
    margin-top: 30px;
  }

  .btn_study {
    margin-top: 50px;
  }
}

// Study End
//------------------

.sect_events {
  padding: 40px 0 117px;

  .name_category_events::before {
    background-image: url(/images/icon_events.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 18px;
    height: 19px;
    content: "";
    display: block;
    position: absolute;
    right: -42px;
    top: -6px;
  }

  .slogan_events {
    position: absolute;
    top: -15px;
    right: -97px;
  }

  .cont2_sect_events {
    margin-top: 80px;
  }

  .block_date_events {
    float: left;
  }

  .block_img_events {
    float: left;
  }

  .box_events {
    padding: 15px 0;
    height: 182px;
    cursor: pointer;
  }

  .box_events:hover .date1_events {
    color: #00b0bb;
  }

  .box_events:hover .date2_events {
    color: #bde1e5;
  }

  .box_events:hover .date1_events span {
    color: #00b0bb;
  }

  .box_events:hover .date2_events span {
    color: #95d1d7;
  }

  .box_events:hover .title_events {
    color: #542e91;
  }

  .sect_events .box_events:nth-child(2n+1) {
    background-color: #F6F6F8;
  }

  .block_date_events {
    width: 150px;
    margin-right: 30px;
    padding-top: 11px;
  }

  .date1_events {
    font: 60px UbuntuBold, sans-serif;
    color: #a6a4af;
    margin-bottom: 0;
  }

  .date1_events span {
    font: 18px UbuntuRegular, sans-serif;
    color: #888796;
    text-transform: uppercase;
    margin-left: 7px;
    position: relative;
    top: -10px;
  }

  .date2_events {
    font: 60px UbuntuBold, sans-serif;
    color: #d2d0d6;
  }

  .date2_events span {
    font: 18px UbuntuRegular, sans-serif;
    color: #afaeb8;
    text-transform: uppercase;
    margin-left: 7px;
    position: relative;
    top: -13px;
  }

  .title_events {
    font: 22px UbuntuRegular, sans-serif;
    color: #3b4256;

  }

  .about_events {
    font: 16px UbuntuRegular, sans-serif;
    color: #686879;
  }

  .btn_events {
    margin-top: 59px;
  }

  .box_events_first {
    margin-top: 78px;
  }

  .block_about_events {
    margin-left: -60px;
  }
}

//------------------
// Menu Mobile Begin

.menu-mobile {
  background-color: #FFFFFF;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 27px;

  .btn-close {
    float: right;
    margin-top: 10px;
    cursor: pointer;
  }

  a.ua {
    font: 14px UbuntuRegular, sans-serif;
    color: #542e91;
  }

  a.en {
    font: 14px UbuntuRegular, sans-serif;
    color: #9884be;
  }

  .p30 {
    padding: 0 30px;
  }

  .block-lang {
    margin-top: 0;
  }

  .menu-mobile-list {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 0;
  }

  li {
    list-style-type: none;
    margin: 0;

    a {
      font: 16px UbuntuRegular, sans-serif;
      color: #3b4256;
      text-transform: uppercase;
      line-height: 1;
      display: block;
      height: 100%;
      padding: 15px 0;
      padding-left: 30px;
    }

    a:hover {
      color: #542e91;
      text-decoration: none;
      background-color: #F4F2F9;
    }
  }

  .cont2-mobile {
    margin-top: 80px;
  }

  .search-mobile {
    padding: 0 20px;
    width: 100%;
    text-align: left;
    margin-top: 15px;

    .input-search {
      height: 40px;
      border: 0;
      border-radius: 150px;
      background-color: #F3F4F6;
      font: 14px UbuntuRegular, sans-serif;
      color: #a6a4af;
      padding: 0 22px;
      margin-top: 60px;
    }

    .btn-search-submit {
      border: 0;
      background-image: url(/images/search_btn_form.png);
      background-repeat: no-repeat;
      background-position: top center;
      height: 19px;
      width: 19px;
    }
  }
}

// Menu Mobile End
//------------------

//------------------
// Footer Begin

footer {
  background-color: #F0F0F3;
  padding: 77px 0 42px;
  position: relative;
}

.arrow_top {
  position: absolute;
  right: 44px;
  top: -25px;
}

.menu_foot {
  padding: 0;
}

.menu_foot li {
  list-style-type: none;
  margin-bottom: 10px;
}

.menu_foot li a {
  font: 16px UbuntuRegular, sans-serif;
  color: #3b4256;
}

.menu_foot li {
  font: 16px UbuntuRegular, sans-serif;
  color: #3b4256;
}

.menu_foot2 .ic_tel {
  margin-right: 13px;
}

.icon_f {
  background-image: url(/images/icon_f.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 24px;
  width: 24px;
  display: inline-block;
}

.icon_f:hover {
  background-position: center -24px;
}

.icon_tw {
  background-image: url(/images/icon_tw.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-left: 17px;
}

.icon_tw:hover {
  background-position: center -24px;
}

.menu_foot2 {
  margin-left: 75px;
  white-space: nowrap;
}

.box_mailing {
  width: 391px;
  height: 196px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  padding: 32px 19px 0 24px;
  float: right;
}

.ic_big_mail {
  margin-right: 28px;
}

.t1_mailing {
  font: 21px UbuntuRegular, sans-serif;
  color: #542e91;
}

.t2_mailing {
  font: 14px UbuntuRegular, sans-serif;
  color: #686879;
  padding-right: 70px;
}

.form1 input {
  height: 40px;
  border-radius: 150px;
  font: 14px UbuntuRegular, sans-serif;
  color: #afaeb8;
  border: 0;
  background-color: #F6F6F8;
  padding: 0 130px 0 21px;
  width: 100%;
}

.form1 {
  position: relative;
  padding: 0 19px 0 0;
  margin-top: 22px;
}

.form1 button {
  height: 40px;
  font: 14px UbuntuRegular, sans-serif;
  color: #fff;
  background-color: #542E91;
  width: 121px;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  line-height: 15px;
  padding-top: 4px;
}

.cont2_footer {
  margin-top: 75px;
}

.form1 button:hover {
  background-color: #6FCAE7;
  color: #fff;
}

.block_ic_foot {
  float: right;
}

.block_ic_foot img {
  margin-left: 24px;
}

.under_footer {
  height: 106px;
  background-color: #66469C;
  padding-top: 24px;
}

.copy {
  font: 14px UbuntuRegular, sans-serif;
  color: #fff;
  text-align: right;
  margin-top: 38px;
}

// Footer End
//------------------
