<section class="sect-stories">

  <div class="block-category-container text-center">
    <div class="category-text">
      <p class="category-name category-name-stories">Stories</p>
      <p class="slogan-name slogan-name-stories">that inspires</p>
    </div>
  </div>

  <div class="container-fluid cont2-sect-stories">
    {{story/story-list-slider
      items=model.stories
      endpoint="en.stories.item"}}
  </div>

</section>

<section class="sect-practices">

  <div class="block-category-container text-center">
    <div class="category-text">
      <p class="category-name category-name-practices">Practices</p>
      <p class="slogan-name slogan-name-practices">that helps</p>
    </div>
  </div>

  <div class="container cont2-sect-practices">
    {{practice/practice-list-horizontal
      items=model.practices
      endpoint="en.practices.item"}}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        {{#link-to "en.practices.index" class="btn btn-more btn-practices"}}
          open more
        {{/link-to}}
      </div>
    </div>
  </div>

</section>