{{#link-to "opportunities.item" item.id}}
  <div class="block-opportunity">
    <div class="top-opportunity">
      <div class="img-opportunity" style="background-image: url({{item.image_url}});"></div>
    </div>
    <div class="about-opportunity ">
      <p class="title-opportunity">{{item.title}}</p>
    </div>
  </div>
{{/link-to}}