<div class="block-post-list-vertical-item">
  {{#link-to "opportunities.item" item.id}}
    <div class="pull-left img-box-stories" style="{{item.imageStyle}}"></div>
  {{/link-to}}
  <div class="media-body box-stories-list">
    <div class="title-box-stories-list">
      {{#link-to "opportunities.item" item.id}}
        {{item.title}}
      {{/link-to}}
    </div>
    <div class="about-box-stories-list">{{item.summary}}</div>
  </div>
</div>