<div>
  {{#link-to endpoint item.id}}
    <div class="story-list-block">
      <div class="story-top">
        <div class="story-image" style="{{item.imageStyle}}"></div>
        <div class="story-shadow"></div>
        <div class="story-title">{{item.title}}</div>
      </div>
      <div class="story-footer">
        <div class="story-summary">
          {{item.summary}}
        </div>
      </div>
    </div>
  {{/link-to}}
</div>