<div>
  {{#link-to endpoint item.id}}
    <div class="story-block">
      <div class="story-top">
        <div class="story-image" style="{{item.imageStyle}}"></div>
        <div class="story-shadow"></div>
        <p class="story-title">{{item.title}}</p>
      </div>
      <div class="story-summary">
        <p>{{item.summary}}</p>
      </div>
    </div>
  {{/link-to}}
</div>