<div class="block-post-list-popular-item">
  {{#link-to "stories.item" item.id}}
    <div class="pull-left image" style="{{item.imageStyle}}"></div>
  {{/link-to}}
  <div class="media-body">
    {{#link-to "stories.item" item.id}}
      <div class="title">{{item.title}}</div>
    {{/link-to}}
  </div>
</div>