{{#link-to endpoint item.id}}
  <div class="story-list-horizontal-block">
    <div class="story-top">
      <div class="story-image" style="{{item.imageStyle}}"></div>
    </div>
    <div class="story-footer">
      <div class="story-title">{{item.title}}</div>
      <div class="story-summary">{{item.summary}}</div>
    </div>
  </div>
{{/link-to}}