<div class="container-fluid">
  <div class="row">

    {{#each items as |item|}}
      {{story/story-list-horizontal-v2-item
        class="col-md-4 col-sm-4"
        item=item
        endpoint=endpoint}}
    {{/each}}

  </div>
</div>