<div class="slick-slider">
  {{#each items as |item|}}
    <div>
      {{#link-to "stories.item" item.id}}
        <div class="block-story">
          <div class="top-story">
            <div class="box-story-cat">
              <div class="box1"></div>
              <div class="box2">соціальне підприємництво</div>
              <div class="box3"></div>
            </div>
            <div class="img-story" style="background-image: url({{item.image_url}});"></div>
            <div class="box-shadow"></div>
            <p class="title-story">{{item.title}}</p>
          </div>
          <div class="summary-story">
            <p>{{item.summary}}</p>
          </div>
        </div>
      {{/link-to}}
    </div>
  {{/each}}
</div>
