<section class="latest-posts">
  <div class="container">
    <header class="text-center">
      <h1>Можливості</h1>
      <p class="text-big">що змінюють</p>
    </header>

    {{opportunity/opportunity-list
      items=model.items}}

  </div>
</section>
<section class="newsletter no-padding-top">    
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-10">
        <h2 class="text-center">Підписатися на розсилку</h2>
        <p class="text-big text-center">Будьте у курсі подій Європейського Простору та отримуйте першими корисну і цікаву інформацію про нові практики та можливості.</p>
      </div>
      <div class="offset-lg-3 col-lg-6">
        <div class="form-holder">
          <form action="https://prostir.us12.list-manage.com/subscribe?u=d413bd349b5700b3385999b59&id=00098ff31e" method="post">
            <div class="form-group">
              <input type="email" name="EMAIL" id="email" placeholder="Введіть свій e-mail">
              <button type="submit" class="submit">Підписатися</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

