<section class="latest-posts">
  <div class="container">
    <header class="text-center">
      <h1>Можливості</h1>
      <p class="text-big">що змінюють</p>
    </header>

    {{opportunity/opportunity-list
      items=model.items}}

  </div>
</section>

