{{opportunity/opportunity-item
  item=model.item}}

<section class="sect-opportunity-footer">

  <div class="block-category-container text-center">
    <div class="category-text">
      <p class="category-name category-name-opportunities">Інші можливості</p>
    </div>
  </div>

  {{post/post-list-horizontal
    class="post-list-horizontal"
    items=model.items
    endpoint="opportunities.item"}}

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        {{#link-to "opportunities.index" class="btn btn-more btn-opportunities"}}
          відкрити більше
        {{/link-to}}
      </div>
    </div>
  </div>

</section>
