{{opportunity/opportunity-item
  item=model.item}}

  <div class="container">
    <div class="row mt-0">
      <div class="col-12"><h3 class="text-big text-center text-uppercase">Ще публікації:</h3></div>
      {{opportunity/opportunity-list-horizontal
        items=model.items}}
    </div>
  </div>
