{{#link-to endpoint item.id}}
  <div class="resource-list-block">
    <div class="resource-top">
      <div class="resource-image" style="{{item.imageStyle}}"></div>
      <div class="resource-shadow"></div>
      <p class="resource-title">{{item.title}}</p>
    </div>
    <div class="resource-footer">
      <div class="resource-summary">
        {{item.summary}}
      </div>
    </div>
  </div>
{{/link-to}}