{{#if items}}

  <div class="resources-list-vertical">
    {{#each items as |item index|}}
      {{resource/resource-list-vertical-item
        class="resources-list-vertical-item"
        item=item
        index=index
        endpoint=endpoint}}
    {{/each}}
  </div>

{{else}}

  <div class="alert alert-info">
    {{t "nothingfound"}}
  </div>

{{/if}}