{{#link-to endpoint item.id}}
  <div class="resource-list-block">
    <div class="resource-top">
      <div class="resource-title">{{item.title}}</div>
    </div>
    <div class="resource-footer">
      <div class="resource-summary">
        {{item.summary}}
      </div>
    </div>
  </div>
{{/link-to}}