<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-long-arrow-up"></i> Догори</button>

<footer class="pt-3 text-center mb-5 mb-lg-0"
        style="background-color: #ffffff; border-top: 1px #dddddd solid; font-size: 80%;">
  <div class="container">
    <div class="row">
      <div class="col-md mb-3 order-md-2">
        <span style="font-size: 200%;">
          <a href="https://www.facebook.com/EuProstir/">
            <i class="fa fa-facebook-square" style="color: #3b5998;"></i>
          </a>
          <a href="https://twitter.com/EuProstir?lang=uk">
            <i class="fa fa-twitter-square" style="color: #2b90d9;"></i>
          </a>
        </span>
      </div>
      <div class="col-md mb-3 order-md-1">
        {{#link-to "about-euprostir"}}Про EU.Prostir{{/link-to}} &middot;
        {{#link-to "about-together"}}Про Together EU4Civil Society{{/link-to}}
      </div>
      <div class="col-md mb-3 order-md-3">
        {{#link-to "stories"}}Історії{{/link-to}} &middot;
        {{#link-to "practices"}}Практики{{/link-to}} &middot;
        {{#link-to "opportunities"}}Можливості{{/link-to}}
      </div>
      <div class="col d-none">
        <p class="text-center"><img src="/img/feu2.png" style="max-width: 100%;"></p>
        <p class="m-0">(044) 2200764 <a href="mailto:eu@prostir.ua">eu@prostir.ua</a> <a href="#">Twitter</a> <a
          href="#">Facebook</a></p>
        <p class="m-0 d-none"><a href="#"><i class="fa fa-facebook"></i></a> &nbsp;&nbsp; <a href="#"><i
          class="fa fa-twitter"></i></a></p>
        <p class="m-0"><a href="index.php?id=28">Про проект</a> | <a href="index.php?id=2">Історії</a> | <a
          href="index.php?id=7">Практики</a> | <a href="index.php?id=8">Можливості</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md mb-3"><img src="/img/feu2.png" style="max-width: 100%; max-height: 40px;"></div>
      <div class="col-md mb-3 pt-md-2 offset-md-4"><img src="/img/fcg3.png" style="max-width: 100%; max-height: 24px;">
      </div>
      <div class="col d-none">
        <p class="text-center"><img src="/img/feu2.png" style="max-width: 100%;"></p>
        <p class="m-0">(044) 2200764 <a href="mailto:eu@prostir.ua">eu@prostir.ua</a> <a href="#">Twitter</a> <a
          href="#">Facebook</a></p>
        <p class="m-0 d-none"><a href="#"><i class="fa fa-facebook"></i></a> &nbsp;&nbsp; <a href="#"><i
          class="fa fa-twitter"></i></a></p>
        <p class="m-0"><a href="index.php?id=28">Про проект</a> | <a href="index.php?id=2">Історії</a> | <a
          href="index.php?id=7">Практики</a> | <a href="index.php?id=8">Можливості</a></p>
      </div>
    </div>
  </div>
  <div class="copyrights m-0" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center m-0">
          <p class="mb-1">© 2018 Європейський Простір</p>
          <p class="text-muted">
            <small>
              Powered by
              <a href="https://www.livarava.com/" target="_blank">LivaRava</a>
              <a href="https://www.livarava.com/cloud/" target="_blank">Cloud</a> and
              <a href="https://www.livarava.com/framework/">Framework</a>
            </small>
          </p>
        </div>
        <div class="col-md-6 text-right d-none">
          <p>Template By <a href="https://bootstraptemple.com" class="text-white">Bootstrap Temple</a>
            <!-- Please do not remove the backlink to Bootstrap Temple unless you purchase an attribution-free license @ Bootstrap Temple or support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)                         -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>