<footer>
  <img {{action "scrollToTop"}} class="arrow-top" src="/images/arrow_top.png" alt="">

  <div class="container">
    <div class="row">

      <div class="col-md-3 order-md-1 col-sm-3 order-2">
        <ul class="menu_foot">
          <li><a href="">Про Європейський Простір</a></li>
          <li><a href="">Про Together EU4Civil Society </a></li>
          <li>{{#link-to "stories.index"}}Історії{{/link-to}}</li>
          <li>{{#link-to "practices.index"}}Практики{{/link-to}}</li>
          <li>{{#link-to "opportunities.index"}}Можливості {{/link-to}}</li>
          <li>{{#link-to "courses.index"}}Навчання{{/link-to}}</li>
          <li>{{#link-to "resources.index"}}Ресурси{{/link-to}}</li>
        </ul>
      </div>

      <div class="col-md-3 order-md-2 col-sm-3 order-3">
        <ul class="menu_foot menu_foot2">
          <li><img class="ic_tel" src="/images/ic_tel.png" alt=""> +380 (44) 220 0764</li>
          <li><img class="ic_tel" src="/images/ic_mail.png" alt=""> eu@prostir.ua</li>
          <li>&nbsp;</li>
          <li><a class="icon_f" href=""></a><a class="icon_tw" href=""></a></li>
        </ul>
      </div>

      <div class="col-md-6 order-md-3 col-sm-6 order-1">
        <div class="box_mailing">
          <div class="media">
            <img class="pull-left ic_big_mail" src="/images/ic_big_mail.png" alt="">
            <div class="media-body">
              <p class="t1_mailing">Підписатися на розсилку</p>
              <p class="t2_mailing">Отримуйте першими корисну та цікаву інформацію!</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <form action="/" method="post" class="form1">
            <div class="row">
              <div class="col-md-12">
                <input name="" placeholder="Ваш Email" type="text">
                <button type="submit" class="btn btn-default ">
                  Підписатись
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <div class="container cont2_footer">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img class="ic_es" src="/images/ic_es.png" alt="">
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block_ic_foot">
          <img src="/images/ic1_foot.png" alt="">
          <img src="/images/ic2_foot.png" alt="">
          <img src="/images/ic3_foot.png" alt="">
        </div>
      </div>
    </div>
  </div>

</footer>

<div class="under_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img src="/images/logo_EP.png" alt="">
      </div>
      <div class="col-md-6 col-sm-6">
        <p class="copy">© 2018 Європейський Простір</p>
      </div>
    </div>
  </div>
</div>