<footer>
  <img {{action "scrollToTop"}} class="arrow-top" src="/images/arrow_top.png" alt="">

  <div class="container">
    <div class="row">

      <div class="col-md-3 order-md-1 col-sm-3 order-2">
        <ul class="menu_foot">
          <li>{{#link-to "page" 'about-euprostir'}}Про Європейський Простір{{/link-to}}</li>
          <li>{{#link-to "page" 'about-together'}}Про Together EU4Civil Society{{/link-to}}</li>
          <li>{{#link-to "stories.index" (query-params f=null)}}Історії{{/link-to}}</li>
          <li>{{#link-to "practices.index" (query-params f=null)}}Практики{{/link-to}}</li>
          <li>{{#link-to "opportunities.index" (query-params f=null)}}Можливості{{/link-to}}</li>
          <li>{{#link-to "events.index" (query-params m=null y=null)}}Події{{/link-to}}</li>
          <li>{{#link-to "resources.index" (query-params f=null t=null)}}Ресурси{{/link-to}}</li>
        </ul>
      </div>

      <div class="col-md-3 order-md-2 col-sm-3 order-3">
        <ul class="menu_foot menu_foot2">
          <li><img class="ic_tel" src="/images/ic_tel.png" alt=""> +380 (44) 220 0764</li>
          <li><img class="ic_tel" src="/images/ic_mail.png" alt=""> eu@prostir.ua</li>
          <li>&nbsp;</li>
          <li>
            <a class="icon_f" href="https://www.facebook.com/EuProstir" target="_blank"></a>
            <a class="icon_tw" href="https://twitter.com/EuProstir" target="_blank"></a>
          </li>
        </ul>
      </div>

      <div class="col-md-6 order-md-3 col-sm-6 order-1">
        <div class="box-mailing">
          <div class="media">
            <img class="pull-left ic_big_mail" src="/images/ic_big_mail.png" alt="">
            <div class="media-body">
              <p class="t1_mailing">Підписатися на розсилку</p>
              <p class="t2_mailing">Отримуйте першими корисну та цікаву інформацію!</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <form
            action="https://prostir.us12.list-manage.com/subscribe/post?u=d413bd349b5700b3385999b59&amp;id=00098ff31e"
            method="post" class="form1" target="_blank">
            <div class="row">
              <div class="col-md-12">
                <input name="EMAIL" placeholder="Ваш Email" type="text">
                <button type="submit" name="subscribe" value="Subscribe" class="btn btn-default ">
                  Підписатись
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <div class="container cont2_footer">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="message-eu">
          <img class="flag-eu" src="/images/euro_ua.svg" width="" alt="">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block_ic_foot">
          <img class="logo-fcg" src="/images/logo-fcg.svg" alt="">
          <img class="logo-ice" src="/images/logo-ice.svg" alt="">
          <img class="logo-eurasia" src="/images/logo-eurasia.svg" alt="">
        </div>
      </div>
    </div>
  </div>

</footer>

<div class="under-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img class="logo" src="/images/logo-together-o.svg" alt="">
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="copy">
          &copy; {{moment-format (now) "YYYY"}} Європейський Простір
        </div>
        <div class="livarava">
          Powered by
          <a href="https://www.livarava.com/">LivaRava</a>
          <a href="https://www.livarava.com/en/cloud/">Cloud</a> and
          <a href="https://www.livarava.com/en/framework/">Framework</a>
        </div>
      </div>
    </div>
  </div>
</div>