<form action="/en/search" method="get" class="search" style="display: none;">

  {{input
    class="input-search"
    placeholder=(t "search")
    type="text"
    name="q"
    value=q}}

  <input type="submit" name="" value="" class="btn-search-submit">

</form>