<header class="header">
  <!-- Main Navbar-->
  <div class="container">
    {{#bs-navbar backgroundColor="#fff" fluid=true as |navbar|}}
      <div class="container">
        <div class="navbar-header d-flex align-items-center justify-content-between">
          {{#link-to "index" class="navbar-brand"}}
            <img src="/img/together-logo.png" height="64">
          {{/link-to}}

          {{#navbar.toggle}}
            <i class="fa fa-bars"></i>
          {{/navbar.toggle}}
        </div>

        {{#navbar.content}}
          {{#navbar.nav class="ml-auto" as |nav|}}
            {{#nav.item}}
              {{#nav.link-to "stories.index"}}Історії{{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
              {{#nav.link-to "practices.index"}}Практики{{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
              {{#nav.link-to "opportunities.index"}}Можливості{{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
              <a href="https://www.facebook.com/EuProstir/" class="nav-link p-0" style="font-size: 150%;"><i
                class="fa fa-facebook-square" style="color: #3b5998;"></i></a>
            {{/nav.item}}
          {{/navbar.nav}}
        {{/navbar.content}}
      </div>
    {{/bs-navbar}}
  </div>
</header>