<section class="sect-courses">

  <div class="container courses-header-container">
    <div class="row">
      <div class="col-md-12 pos-rel">
        <div class="courses-category">навчання</div>
        <div class="courses-online-header">Онлайн курси</div>
        <div class="courses-popular-header">ПОПУЛЯРНЕ</div>
      </div>
    </div>
  </div>

  <div class="courses-popular-container">
    {{course/course-list-slider
      class="course-list-slider"
      items=model.popular
      endpoint="stories.item"}}
  </div>

  <div class="courses-tile-container">

    {{course/course-list-tile-more
      title="КУРСИ"
      itemsInitial=model.courses
      lira=model.liraCourses
    }}

    {{course/course-list-tile-more
      title="ВІДЕО"
      itemsInitial=model.videos
      lira=model.liraVideos}}

  </div>

</section>