<section class="courses">

  <div class="container">
    <div class="row">
      <div class="col-md-12 pos-rel">
        <div class="courses-category">навчання</div>
        <div class="courses-header1">Онлайн курси</div>
        <div class="courses-header2">наші популярні курси</div>
      </div>
    </div>
  </div>

  {{course/course-list-popular
    items=model.popular}}

  <div class="block-courses">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="t-choose-course">обери курс для себе</div>
        </div>
      </div>
    </div>
    <div class="container select-courses">
      <div class="row">
        <div class="col-md-12">
          <p class="t_cat">Перегляд за:</p>
          <input name="" type="hidden" id="" value="Темою"><a class="trigger" href="#">Темою</a>
          <div class="dropcontainer">
            <ul class="dropdownhidden">
              <li><a href="#">Темою</a></li>
              <li><a href="#">Візії розвитку громадянського суспільства</a></li>
              <li><a href="#">Соціальне підприємництво</a></li>
              <li><a href="#">Соціальні послуги стратегії</a></li>
              <li><a href="#">Управління організаціями</a></li>
              <li><a href="#">Ефективні комунікації</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container block-list-courses">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="">
            <div class="box-courses">
              <img class="photo-small-courses" src="/images/photo-small-courses.jpg" alt="">
              <div class="box-about-courses">
                <div class="title-courses">
                  Громадський Простір спільно з Проектом ЄС
                </div>
                <div class="summary-courses">Громадські експерти проаналізували різні аспекти державної політики
                  сприяння розвитку громадянського
                </div>
                <div class="block-icon-courses">
                  <div><img src="/images/icon1-courses.png" alt=""> 4 лекції</div>
                  <div><img src="/images/icon2-courses.png" alt=""> 19 хвилин лекція</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="">
            <div class="box-courses">
              <img class="photo-small-courses" src="/images/photo-small-courses.jpg" alt="">
              <div class="box-about-courses">
                <div class="title-courses">
                  Громадський Простір спільно з Проектом ЄС
                </div>
                <div class="summary-courses">Громадські експерти проаналізували різні аспекти державної політики
                  сприяння розвитку громадянського
                </div>
                <div class="block-icon-courses">
                  <div><img src="/images/icon1-courses.png" alt=""> 4 лекції</div>
                  <div><img src="/images/icon2-courses.png" alt=""> 19 хвилин лекція</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="">
            <div class="box-courses">
              <img class="photo-small-courses" src="/images/photo-small-courses.jpg" alt="">
              <div class="box-about-courses">
                <div class="title-courses">
                  Громадський Простір спільно з Проектом ЄС
                </div>
                <div class="summary-courses">Громадські експерти проаналізували різні аспекти державної політики
                  сприяння розвитку громадянського
                </div>
                <div class="block-icon-courses">
                  <div><img src="/images/icon1-courses.png" alt=""> 4 лекції</div>
                  <div><img src="/images/icon2-courses.png" alt=""> 19 хвилин лекція</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="">
            <div class="box-courses">
              <img class="photo-small-courses" src="/images/photo-small-courses.jpg" alt="">
              <div class="box-about-courses">
                <div class="title-courses">
                  Громадський Простір спільно з Проектом ЄС
                </div>
                <div class="summary-courses">Громадські експерти проаналізували різні аспекти державної політики
                  сприяння розвитку громадянського
                </div>
                <div class="block-icon-courses">
                  <div><img src="/images/icon1-courses.png" alt=""> 4 лекції</div>
                  <div><img src="/images/icon2-courses.png" alt=""> 19 хвилин лекція</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="">
            <div class="box-courses">
              <img class="photo-small-courses" src="/images/photo-small-courses.jpg" alt="">
              <div class="box-about-courses">
                <div class="title-courses">
                  Громадський Простір спільно з Проектом ЄС
                </div>
                <div class="summary-courses">Громадські експерти проаналізували різні аспекти державної політики
                  сприяння розвитку громадянського
                </div>
                <div class="block-icon-courses">
                  <div><img src="/images/icon1-courses.png" alt=""> 4 лекції</div>
                  <div><img src="/images/icon2-courses.png" alt=""> 19 хвилин лекція</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="">
            <div class="box-courses">
              <img class="photo-small-courses" src="/images/photo-small-courses.jpg" alt="">
              <div class="box-about-courses">
                <div class="title-courses">
                  Громадський Простір спільно з Проектом ЄС
                </div>
                <div class="summary-courses">Громадські експерти проаналізували різні аспекти державної політики
                  сприяння розвитку громадянського
                </div>
                <div class="block-icon-courses">
                  <div><img src="/images/icon1-courses.png" alt=""> 4 лекції</div>
                  <div><img src="/images/icon2-courses.png" alt=""> 19 хвилин лекція</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="">
            <div class="box-courses">
              <img class="photo-small-courses" src="/images/photo-small-courses.jpg" alt="">
              <div class="box-about-courses">
                <div class="title-courses">
                  Громадський Простір спільно з Проектом ЄС
                </div>
                <div class="summary-courses">Громадські експерти проаналізували різні аспекти державної політики
                  сприяння розвитку громадянського
                </div>
                <div class="block-icon-courses">
                  <div><img src="/images/icon1-courses.png" alt=""> 4 лекції</div>
                  <div><img src="/images/icon2-courses.png" alt=""> 19 хвилин лекція</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="">
            <div class="box-courses">
              <img class="photo-small-courses" src="/images/photo-small-courses.jpg" alt="">
              <div class="box-about-courses">
                <div class="title-courses">
                  Громадський Простір спільно з Проектом ЄС
                </div>
                <div class="summary-courses">Громадські експерти проаналізували різні аспекти державної політики
                  сприяння розвитку громадянського
                </div>
                <div class="block-icon-courses">
                  <div><img src="/images/icon1-courses.png" alt=""> 4 лекції</div>
                  <div><img src="/images/icon2-courses.png" alt=""> 19 хвилин лекція</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="">
            <div class="box-courses">
              <img class="photo-small-courses" src="/images/photo-small-courses.jpg" alt="">
              <div class="box-about-courses">
                <div class="title-courses">
                  Громадський Простір спільно з Проектом ЄС
                </div>
                <div class="summary-courses">Громадські експерти проаналізували різні аспекти державної політики
                  сприяння розвитку громадянського
                </div>
                <div class="block-icon-courses">
                  <div><img src="/images/icon1-courses.png" alt=""> 4 лекції</div>
                  <div><img src="/images/icon2-courses.png" alt=""> 19 хвилин лекція</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="">
            <div class="box-courses">
              <img class="photo-small-courses" src="/images/photo-small-courses.jpg" alt="">
              <div class="box-about-courses">
                <div class="title-courses">
                  Громадський Простір спільно з Проектом ЄС
                </div>
                <div class="summary-courses">Громадські експерти проаналізували різні аспекти державної політики
                  сприяння розвитку громадянського
                </div>
                <div class="block-icon-courses">
                  <div><img src="/images/icon1-courses.png" alt=""> 4 лекції</div>
                  <div><img src="/images/icon2-courses.png" alt=""> 19 хвилин лекція</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="">
            <div class="box-courses">
              <img class="photo-small-courses" src="/images/photo-small-courses.jpg" alt="">
              <div class="box-about-courses">
                <div class="title-courses">
                  Громадський Простір спільно з Проектом ЄС
                </div>
                <div class="summary-courses">Громадські експерти проаналізували різні аспекти державної політики
                  сприяння розвитку громадянського
                </div>
                <div class="block-icon-courses">
                  <div><img src="/images/icon1-courses.png" alt=""> 4 лекції</div>
                  <div><img src="/images/icon2-courses.png" alt=""> 19 хвилин лекція</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="">
            <div class="box-courses">
              <img class="photo-small-courses" src="/images/photo-small-courses.jpg" alt="">
              <div class="box-about-courses">
                <div class="title-courses">
                  Громадський Простір спільно з Проектом ЄС
                </div>
                <div class="summary-courses">Громадські експерти проаналізували різні аспекти державної політики
                  сприяння розвитку громадянського
                </div>
                <div class="block-icon-courses">
                  <div><img src="/images/icon1-courses.png" alt=""> 4 лекції</div>
                  <div><img src="/images/icon2-courses.png" alt=""> 19 хвилин лекція</div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn_more btn_events">відкрити більше</a>
        </div>
      </div>
    </div>
  </div>

</section>