<section class="static mb-3">

  <div class="container cont1-static pos_rel">
    <div class="row">
      <div class="col-md-11 col-sm-11 pos_rel">

        <div class="static-title">
          {{item.title}}
        </div>

      </div>
    </div>
  </div>

  <div class="container cont2-static">
    <div class="row">
      <div class="col-md12 col-sm-12">

        {{{item.description}}}

      </div>
    </div>
  </div>

</section>
