<section class="static mb-3">

  <div class="container cont1-static pos_rel">
    <div class="row">
      <div class="col-md-11 col-sm-11 pos_rel">

        <div class="static-title">
          {{item.title}}
        </div>

      </div>
    </div>
  </div>

  <div class="container cont2-static">
    <div class="row">
      <div class="col-md12 col-sm-12">

        {{{item.description}}}

      </div>
    </div>
  </div>

  <div class="block-share" id="block-share-static">
    <div class=""
         style="background: none 0 0 / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0); background-blend-mode: normal; border: 0 none rgb(51, 51, 51); border-radius: 0; border-collapse: separate; box-shadow: none; outline: rgb(51, 51, 51) none 0px; outline-offset: 0; overflow-anchor: auto; overflow-wrap: normal; overflow: visible; padding: 0; box-sizing: border-box; width: 48px;">
      <div class="box-f-share">
        <a href="f-share"><img src="/images/f-share.png" alt=""></a>
        <span>241</span>
      </div>
      <div class="box-tw-share">
        <a href="tw-share"><img src="/images/tw-share.png" alt=""></a>
        <span>0</span>
      </div>
    </div>
  </div>

</section>
