<a href="">
  <div class="courses-list-tile-item">
    <img class="courses-list-tile-item-picture" src="/images/photo-small-courses.jpg" alt="">
    <div class="courses-list-tile-item-about">
      <div class="courses-list-tile-item-title">
        {{item.title}}
      </div>
      <div class="courses-list-tile-item-summary">
        {{item.summary}}
      </div>
    </div>
  </div>
</a>