<section class="course course-info">

  <div class="top-course-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 pos_rel text-center">
          <div class="cat-course">навчання</div>
          <div class="title-course">{{item.title}}</div>
          {{!--<div class="image-course">--}}
            {{!--<img class="image-fluid" src="{{item.image_url}}">--}}
          {{!--</div>--}}
          {{!--<div class="summary-course">{{item.summary}}</div>--}}
        </div>
        {{!--<div class="col-md-3 offset-md-3 col-sm-5 pos_rel">--}}
        {{!--<div class="block-right-course">--}}
        {{!--<a class="btn btn-test">почати курс</a>--}}
        {{!--<a class="btn btn-resourse" data-toggle="modal" data-target="#test">пройти тест</a>--}}
        {{!--<div class="block-time-course">--}}
        {{!--<div class="">4 лекції <img src="/images/icon1-course.png" alt=""></div>--}}
        {{!--<div class="">19 хвилин лекція <img src="/images/icon2-course.png" alt=""></div>--}}
        {{!--</div>--}}
        {{!--</div>--}}
        {{!--</div>--}}
      </div>
    </div>
  </div>

  <div class="container cont2-course">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        {{{item.description}}}
      </div>
    </div>
  </div>

  <div class="block-share-course">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="block-share-f">
            <a href=""><img src="/images/share-f.png" alt=""></a>
            <span>241</span>
          </div>
          <div class="block-share-tw">
            <a href=""><img src="/images/share-tw.png" alt=""></a>
            <span>0</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>