<section class="course">

  <div class="top-course">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 pos_rel">
          <div class="cat-course">навчання</div>
          <div class="title-course text-center">{{item.title}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="video-course">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block-video-course">
            {{{item.description}}}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>