<div class="courses-list-popular">
  <div class="container">
    <div class="row">
      {{#each items as |item|}}
        {{course/course-list-popular-item
          class="col-md-4 col-sm-4"
          item=item}}
      {{/each}}
    </div><!--row-->
  </div><!--container-->
</div><!--courser-list-popular-->