<section class="sect-practices-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="name-stories-list">Практики</p>
      </div>
    </div>
  </div>
  <div class="container cont2-sect-stories-list">
    <div class="row">

      <div class="col-md-9 col-sm-9">

        {{common/common-filters
          class="filter"
          filters=filters
          endpoint="practices.index"
          showDropdown=showDropdown
          currentFilter=f}}

        <div class="block1-stories-list"></div>

        {{post/post-list-vertical
          items=items
          endpoint="practices.item"}}

        {{#if canLoadMore}}
          <div class="text-center">
            <div {{action "loadMore"}}
              class="btn btn-more btn-stories">
              відкрити більше
            </div>
          </div>
        {{/if}}

      </div>

      <div class="col-md-3 col-sm-3">
        <div class="block-popular">
          <div class="t-popular">популярне</div>

          <div class="box1-popular"></div>

          {{post/post-list-popular
            items=model.popular
            endpoint="practices.item"}}

        </div>
      </div>
    </div>
  </div>
</section>