<section class="sect-practices">

  <div class="block-category-cantainer text-center">
    <div class="text-category">
      <p class="category-name category-name-practices">Практики</p>
      <p class="slogan-name slogan-name-practices">які допомагають</p>
    </div>
  </div>

  <div class="container cont2-sect-practices">
    {{practice/practice-list
      items=model.items}}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        {{#link-to "practices.index" class="btn btn-more btn-practices"}}
          відкрити більше
        {{/link-to}}
      </div>
    </div>
  </div>

</section>