<section class="latest-posts">
  <div class="container">
    <header class="text-center">
      <h1>Практики</h1>
      <p class="text-big">які допомагають</p>
    </header>

    {{practice/practice-list
      items=model.items}}

  </div>
</section>