{{#common/common-content}}
  <section class="sect-stories">

    <div class="block-category-container text-center">
      <div class="category-text">
        <p class="category-name category-name-stories">Історії</p>
        <p class="slogan-name slogan-name-stories">що надихають</p>
      </div>
    </div>

    <div class="container-fluid cont2-sect-stories">
      {{story/story-list-slider
        class="story-list-slider"
        items=model.stories
        endpoint="stories.item"}}
    </div>

  </section>

  <section class="sect-practices">

    <div class="block-category-container text-center">
      <div class="category-text">
        <p class="category-name category-name-practices">Практики</p>
        <p class="slogan-name slogan-name-practices">які допомагають</p>
      </div>
    </div>

    <div class="container cont2-sect-practices">
      {{practice/practice-list-horizontal
        items=model.practices
        endpoint="practices.item"}}
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          {{#link-to "practices.index" class="btn btn-more btn-practices"}}
            відкрити більше
          {{/link-to}}
        </div>
      </div>
    </div>

  </section>

  <section class="sect-opportunities mb-5">

    <div class="block-category-container text-center">
      <div class="category-text">
        <p class="category-name category-name-opportunities">Можливості</p>
        <p class="slogan-name slogan-name-opportunities">що змінюють</p>
      </div>
    </div>

    <div class="container cont2-sect-opportunities">
      {{opportunity/opportunity-list-horizontal
        class="row"
        items=model.opportunities
        endpoint="opportunities.item"}}
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          {{#link-to "opportunities.index" class="btn btn-more btn-opportunities"}}
            відкрити більше
          {{/link-to}}
        </div>
      </div>
    </div>

  </section>

  <section class="sect-courses mb-5">

    <div class="block-category-container text-center">
      <div class="category-text">
        <p class="category-name category-name-opportunities">Навчання</p>
        <p class="slogan-name slogan-name-opportunities">що збагачують</p>
      </div>
    </div>

    <div class="container cont2-sect-courses">
      {{course/course-homepage-list
        class="row"
        items=model.courses
        endpoint="courses.item"}}
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          {{#link-to "courses.index" class="btn btn-more btn-courses"}}
            відкрити більше
          {{/link-to}}
        </div>
      </div>
    </div>
  </section>
{{/common/common-content}}