<section class="featured-posts">
  <div class="container">

    <header class="text-center">
      {{#link-to "stories.index"}}
        <h1>Історії</h1>
      {{/link-to}}
      <p class="text-big">що надихають</p>
    </header>

    {{story/story-list
      items=model.stories}}

  </div>
</section>

<section class="latest-posts">
  <div class="container">
    <header class="text-center">
      {{#link-to "practices.index"}}
        <h1>Практики</h1>
      {{/link-to}}
      <p class="text-big">які допомагають</p>
    </header>

    {{practice/practice-list
      items=model.practices}}

  </div>
</section>

<section class="latest-posts">
  <div class="container">
    <header class="text-center">
      {{#link-to "opportunities.index"}}
        <h1>Можливості</h1>
      {{/link-to}}
      <p class="text-big">що змінюють</p>
    </header>

    {{opportunity/opportunity-list
      items=model.opportunities}}

  </div>
</section>