<section class="sect-stories">

  <div class="block-category-cantainer text-center">
    <div class="category-text">
      <p class="category-name">Історії</p>
      <p class="slogan-name slogan-stories">що надихають</p>
    </div>
  </div>

  <div class="container-fluid cont2-sect-stories">
    {{story/story-slider
      items=model.stories}}
  </div>

</section>

<section class="sect-practices">

  <div class="block-category-cantainer text-center">
    <div class="category-text">
      <p class="category-name category-practices">Практики</p>
      <p class="slogan-name slogan-practices">які допомагають</p>
    </div>
  </div>

  <div class="container cont2-sect-practices">
    {{practice/practice-list
      items=model.practices}}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        {{#link-to "practices.index" class="btn btn-more btn-practices"}}
          відкрити більше
        {{/link-to}}
      </div>
    </div>
  </div>

</section>

{{outlet}}