<section class="featured-posts">
  <div class="container">
    <header class="text-center">
      <h1>Історії</h1>
      <p class="text-big">що надихають</p>
    </header>
    <!-- Post-->

    <div class="row d-flex align-items-stretch">
      <div class="image col-lg-5" style="min-height: 351px;">
        <img src="./index_files/eap.jpg" alt="...">
      </div>
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category d-none"><a href="http://www.euprostir.org.ua/index.php?id=2#">Business</a><a
                href="http://www.euprostir.org.ua/index.php?id=2#">Technology</a></div>
              <a href="http://www.euprostir.org.ua/index.php?id=1">
                <h2 class="h4">Що українці досліджують в рамках стипендіальної програми Східного Партнерства?</h2></a>
            </header>
            <p>Реван был рождён около 3994 ДБЯ и ещё в детстве принят в Орден джедаев. Его обучали немало опытнейших
              мастеров-джедаев, и все они отмечали одарённость амбициозного падавана.</p>
            <footer class="post-footer d-flex align-items-center"><a href="http://www.euprostir.org.ua/index.php?id=2#"
                                                                     class="author d-flex align-items-center flex-wrap">
              <div class="avatar d-none"><img src="./index_files/avatar-2.jpg" alt="..." class="img-fluid"></div>
              <div class="title"><span>John Doe</span></div>
            </a>
              <div class="date"><i class="icon-clock"></i> 2 months ago</div>
              <div class="comments d-none"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category d-none"><a href="http://www.euprostir.org.ua/index.php?id=2#">Business</a><a
                href="http://www.euprostir.org.ua/index.php?id=2#">Technology</a></div>
              <a href="http://www.euprostir.org.ua/index.php?id=3">
                <h2 class="h4">CitizenLab 2017</h2></a>
            </header>
            <p>Освободившись от влияния Императора, Дарт Реван и Дарт Малак основали собственную Империю, после чего
              Реван вознамерился завоевать и реформировать Республику, дабы та смогла устоять в грядущей войне с угрозой
              из Неизведанных Регионов.</p>
            <footer class="post-footer d-flex align-items-center">
              <div class="title"><span></span></div>
              <div class="date"><i class="icon-clock"></i></div>
              <div class="comments d-none"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
      <div class="image col-lg-5" style="min-height: 351px;"><img src="./index_files/DSC08864.JPG" alt="..."></div>
    </div>

    <div class="row d-flex align-items-stretch">
      <div class="image col-lg-5" style="min-height: 351px;"><img src="./index_files/фонд.png" alt="..."></div>
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category d-none"><a href="http://www.euprostir.org.ua/index.php?id=2#">Business</a><a
                href="http://www.euprostir.org.ua/index.php?id=2#">Technology</a></div>
              <a href="http://www.euprostir.org.ua/index.php?id=4">
                <h2 class="h4">Що варто знати про Національний фонд для розвитку громадянського суспільства</h2></a>
            </header>
            <p>Реван был рождён около 3994 ДБЯ и ещё в детстве принят в Орден джедаев. Его обучали немало опытнейших
              мастеров-джедаев, и все они отмечали одарённость амбициозного падавана.</p>
            <footer class="post-footer d-flex align-items-center"><a href="http://www.euprostir.org.ua/index.php?id=2#"
                                                                     class="author d-flex align-items-center flex-wrap">
              <div class="avatar d-none"><img src="./index_files/avatar-2.jpg" alt="..." class="img-fluid"></div>
              <div class="title"><span>John Doe</span></div>
            </a>
              <div class="date"><i class="icon-clock"></i> 2 months ago</div>
              <div class="comments d-none"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category d-none"><a href="http://www.euprostir.org.ua/index.php?id=2#">Business</a><a
                href="http://www.euprostir.org.ua/index.php?id=2#">Technology</a></div>
              <a href="http://www.euprostir.org.ua/index.php?id=5">
                <h2 class="h4">У столиці обговорили законодавство для фандрайзингу</h2></a>
            </header>
            <p>Освободившись от влияния Императора, Дарт Реван и Дарт Малак основали собственную Империю, после чего
              Реван вознамерился завоевать и реформировать Республику, дабы та смогла устоять в грядущей войне с угрозой
              из Неизведанных Регионов.</p>
            <footer class="post-footer d-flex align-items-center">
              <div class="title"><span></span></div>
              <div class="date"><i class="icon-clock"></i></div>
              <div class="comments d-none"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
      <div class="image col-lg-5" style="min-height: 351px;"><img src="./index_files/12-1024x437.jpg" alt="..."></div>
    </div>

    <div class="row d-flex align-items-stretch">
      <div class="image col-lg-5" style="min-height: 351px;"><img src="./index_files/DSC09023-—-копия-1024x437.jpg"
                                                                  alt="..."></div>
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category d-none"><a href="http://www.euprostir.org.ua/index.php?id=2#">Business</a><a
                href="http://www.euprostir.org.ua/index.php?id=2#">Technology</a></div>
              <a href="http://www.euprostir.org.ua/index.php?id=6">
                <h2 class="h4">Як податковий кодекс може бути дружнім до благодійництва</h2></a>
            </header>
            <p>Реван был рождён около 3994 ДБЯ и ещё в детстве принят в Орден джедаев. Его обучали немало опытнейших
              мастеров-джедаев, и все они отмечали одарённость амбициозного падавана.</p>
            <footer class="post-footer d-flex align-items-center"><a href="http://www.euprostir.org.ua/index.php?id=2#"
                                                                     class="author d-flex align-items-center flex-wrap">
              <div class="avatar d-none"><img src="./index_files/avatar-2.jpg" alt="..." class="img-fluid"></div>
              <div class="title"><span>John Doe</span></div>
            </a>
              <div class="date"><i class="icon-clock"></i> 2 months ago</div>
              <div class="comments d-none"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <!-- Post-->
  </div>
</section>