{{#common/common-content}}
    <section class="sect-stories-list">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="name-stories-list">Пошук: {{q}}</p>
                </div>
            </div>
        </div>
        <div class="container cont2-sect-stories-list">
            <div class="row">

                <div class="col-md-9 col-sm-9">

                    <div class="block1-stories-list"></div>

                    {{post/post-list-vertical
                        items=items
                        endpoint="stories.item"}}

                    {{#if canLoadMore}}
                        <div class="text-center">
                            <div {{action "loadMore" }} class="btn btn-more btn-stories">
                                відкрити більше
                            </div>
                        </div>
                    {{/if}}

                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="block-popular">
                        <div class="t-popular mt-3">популярне</div>

                        <div class="box1-popular"></div>

                        {{post/post-list-popular
            items=model.popular
            endpoint="stories.item"}}

                    </div>
                </div>
            </div>
        </div>
    </section>
{{/common/common-content}}